<section class="mt-20 py-8 lg:py-12">
    <div class="w-9/12 mx-auto px-4 overflow-hidden rounded-lg h-[400px]">
        <div [style.backgroundImage]="'url(' + mainLocation?.image + ')'" class="w-full mx-auto h-full bg-cover"></div>
    </div>

    <!-- Location Name and Description Section -->
    <div class="w-9/12 mx-auto px-4 mt-8">
        <h1 *ngIf="mainLocation?.name" class="text-4xl font-bold">{{ mainLocation?.name }} - Việt Nam</h1>
        <p class="mt-4 text-gray-600">
            {{ mainLocation?.description }}
        </p>
    </div>
</section>


<section *ngIf="activities?.length !== 0" class="mx-auto mt-20">
    <div class="w-9/12 mx-auto px-4">
        <div class="flex justify-start items-center">
            <h2 class="text-2xl font-bold">Hoạt động</h2>
        </div>
        <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-6">
            <div *ngFor="let activity of activities" class="flex flex-col justify-between bg-white rounded-xl">
                <!-- Hình ảnh -->
                <div class="bg-gray-200 h-[200px] sm:h-[280px] flex justify-center items-center text-base sm:text-xl font-semibold rounded-xl relative cursor-pointer"
                    [style.backgroundImage]="'url(' + activity.imageUrl + ')'"
                    style="background-size: cover; background-position: center;">
                    <div class="absolute inset-0 bg-black bg-opacity-50 rounded-xl"></div>
                </div>

                <!-- Nội dung -->
                <div class="mt-3 flex flex-col flex-grow">
                    <p class="text-lg font-medium">{{ activity.name }}</p>
                </div>
                <!-- Giá -->
                <p class="font-medium text-green-700 text-right mt-2">{{ getPrice(activity.sellingPrice) }}</p>
            </div>

        </div>
    </div>
</section>

<section *ngIf="tours?.length !== 0" class="mx-auto mt-20">
    <div class="w-9/12 mx-auto px-4 mt-12">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold">Tour du lịch</h2>
            <a href="/tours" class="text-blue-600 font-semibold">Xem tất cả</a>
        </div>
        <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-6">
            <div *ngFor="let tour of tours" (click)="openTourDetail(tour?.id)"
                class="flex flex-col justify-between bg-white rounded-xl cursor-pointer h-full">

                <!-- Ảnh -->
                <div class="bg-gray-200 h-[200px] sm:h-[280px] flex justify-center items-center text-base sm:text-xl font-semibold rounded-xl relative"
                    [style.backgroundImage]="'url(' + tour.tourImages[0].imageUrl + ')'"
                    style="background-size: cover; background-position: center;">
                    <div class="absolute inset-0 bg-black bg-opacity-50 rounded-xl"></div>
                </div>

                <!-- Nội dung -->
                <div class="mt-3 flex flex-col flex-grow">
                    <p class="text-lg font-medium">{{ tour.name }}</p>

                    <!-- Tags -->
                    <div class="flex flex-wrap mt-1">
                        <p *ngFor="let tag of tour.tags"
                            class="rounded-[30px] mr-2 bg-green-500/10 px-2 py-0.5 text-xs font-medium text-green-800 mt-1">
                            {{ tag.name }}
                        </p>
                    </div>

                    <!-- Info -->
                    <div class="flex justify-between items-center mt-2 text-sm text-gray-700">
                        <p>
                            <i class="fas fa-map-marker-alt text-red-500 mr-1"></i>
                            <span class="text-blue-600 font-medium">{{ tour.departLocation.name }}</span>
                        </p>
                        <p>{{ tour.numberDays }}N{{ tour.numberNight }}Đ</p>
                    </div>
                </div>

                <!-- Giá -->
                <p class="font-medium text-green-700 text-right mt-2">{{ getPriceTour(tour.priceFrom) }}</p>
            </div>

        </div>
    </div>
</section>

<section *ngIf="hotels?.length !== 0" class="mx-auto mt-20">
    <div class="w-9/12 mx-auto px-4">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold">Khách sạn</h2>
            <a href="/hotels" class="text-blue-600 font-semibold">Xem tất cả</a>
        </div>
        <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-6">
            <div *ngFor="let hotel of hotels" (click)="openHotelDetail(hotel?.id)"
                class="flex flex-col justify-between bg-white rounded-xl cursor-pointer">

                <!-- Ảnh khách sạn -->
                <div class="bg-gray-200 h-[200px] sm:h-[280px] flex justify-center items-center text-base sm:text-xl font-semibold rounded-xl relative"
                    [style.backgroundImage]="'url(' + hotel.imageUrl + ')'"
                    style="background-size: cover; background-position: center;">
                    <div class="absolute inset-0 bg-black bg-opacity-50 rounded-xl"></div>
                </div>

                <!-- Nội dung -->
                <div class="mt-3 flex flex-col flex-grow">
                    <p class="text-lg font-medium">{{ hotel.name }}</p>
                    <p class="mt-1 text-sm flex-grow">{{ hotel.address }}</p>
                </div>

                <!-- Giá -->
                <p class="font-medium text-green-700 text-right mt-2">{{ getPriceTour(hotel.minRoomPrice) }}</p>
            </div>

        </div>
    </div>
</section>

<section *ngIf="blogs?.length !== 0" class="mx-auto mt-20 text-center">
    <div class="w-9/12 mx-auto px-4 mt-12">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold">Bài viết liên quan</h2>
            <a href="/blogs" class="text-blue-600 font-semibold">Xem tất cả</a>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-12 mt-10 sm:mt-32">
        <div *ngFor="let blog of blogs" (click)="openBlogDetail(blog?.id)"
            class="bg-gray-200 h-[200px] sm:h-[280px] flex cursor-pointer justify-center items-center text-base sm:text-xl font-semibold rounded-xl relative"
            (click)="openBlogDetail(blog?.id)" [style.backgroundImage]="'url(' + blog.thumbnailImageUrl + ')'"
            style="background-size: cover; background-position: center;">
            <div class="absolute inset-0 bg-black bg-opacity-50 rounded-xl"></div>
            <span class="relative text-white">{{ blog.title }}</span>
        </div>
    </div>
</section>

<!-- New Section: Recommended Destinations -->
<section *ngIf="recommendedLocations?.length !== 0" class="mx-auto mt-20 w-9/12">
    <div class="w-full px-4">
        <h2 class="text-2xl font-bold mb-4">Các địa điểm khác</h2>
        <div class="relative">
            <button (click)="prevSlide()"
                class="absolute left-[-60px] top-1/2 transform -translate-y-1/2 bg-gray-100 rounded-full p-2 shadow-md hover:bg-gray-200">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
            <button (click)="nextSlide()"
                class="absolute right-[-60px] top-1/2 transform -translate-y-1/2 bg-gray-100 rounded-full p-2 shadow-md hover:bg-gray-200">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>

            <div class="overflow-hidden">
                <div class="flex transition-transform duration-300 ease-in-out"
                    [style.transform]="'translateX(-' + currentIndex * 33.33 + '%)'">
                    <div *ngFor="let loc of recommendedLocations" (click)="openDetail(loc?.id)"
                        class="w-1/3 flex-shrink-0 rounded-lg p-4 text-center cursor-pointer">
                        <div class="bg-gray-200 h-[200px] sm:h-[280px] transition-transform duration-300 group-hover:scale-105 flex justify-center items-center text-base sm:text-xl font-semibold rounded-xl relative"
                            [style.backgroundImage]="'url(' + loc.image + ')'"
                            style="background-size: cover; background-position: center;">
                            <div class="absolute inset-0 bg-black bg-opacity-50 rounded-xl"></div>
                        </div>
                        <p class="mt-2 text-lg font-medium">{{ loc.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>