<div class="flex justify-center items-center h-full min-h-screen p-4"
    style="background-image: url(https://cdn.pixabay.com/photo/2017/10/12/03/03/view-2843338_1280.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="max-w-md w-full mx-auto">
        <form class="bg-opacity-70 bg-white rounded p-6 shadow-[0_2px_16px_-3px_rgba(125,126,131,0.3)]"
            [formGroup]="forgotPasswordForm">
            <div class="flex items-center justify-center gap-3">
                <div class="flex items-center justify-center">
                    <img src="assets/images/logo/logo.png" alt="logo" class="w-25 h-20" />
                </div>
                <h3 class="text-gray-800 text-3xl font-bold">Quên mật khẩu</h3>
            </div>

            <div class="relative flex items-center mt-6">
                <input type="email" formControlName="email" placeholder="Email" required
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333"
                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M3 8l9 6 9-6V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2z"></path>
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M3 8v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8l-9 6-9-6z"></path>
                </svg>
            </div>

            <div class="flex flex-wrap items-center justify-between gap-4 mt-6">
                <div>
                    <a href="/login" class="text-blue-600 text-sm font-semibold hover:underline">
                        Nhớ mật khẩu? Đăng nhập
                    </a>
                </div>
            </div>

            <div class="mt-6">
                <button type="submit" (click)="onSubmit()"
                    class="w-full py-2.5 px-4 text-sm font-semibold tracking-wider rounded text-white bg-gray-800 hover:bg-[#222] focus:outline-none">
                    Đặt lại mật khẩu
                </button>
                <p class="text-gray-800 text-sm text-center mt-6">Bạn không có tài khoản? <a href="/register"
                        class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Đăng ký tại đây</a></p>
            </div>

            <div *ngIf="successMessage" class="text-green-700 text-md mt-2">
                {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="text-red-700 text-md mt-2">
                {{ errorMessage }}
            </div>
        </form>
    </div>
    <div class="loading absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 z-10"
        *ngIf="isLoading">
        <div class="text-center">
            <svg class="animate-spin h-8 w-8 text-blue-600 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
            </svg>
            <p class="text-blue-600 mt-4">Đang gửi email, vui lòng đợi...</p>
        </div>
    </div>
</div>