<form [formGroup]="generatePlanForm" class="space-y-4" (ngSubmit)="onSubmit()">
    <div class="flex flex-col items-center text-center space-y-6 w-full pt-40">

        <app-spinner [isLoading]="isLoading"></app-spinner>

        <p class="text-sm text-gray-500">Bước {{ currentStep + 1 }}/4</p>
        <p *ngIf="currentStep > 0" class="text-sm text-gray-500">
            {{ "Chuyến đi " + selectedLocation?.name }}
        </p>
        <div class="w-[45%] bg-gray-200 rounded-full h-2 dark:bg-gray-700 !mb-20">
            <div class="bg-blue-600 h-2 rounded-full" [style.width.%]="widthProgress * (currentStep + 1)"></div>
        </div>
        <div *ngIf="currentStep === 0" class="flex flex-col items-center text-center mb-20">
            <h1 class="text-5xl font-bold mb-3">Đầu tiên, bạn muốn đi đâu?</h1>
            <h1 class="text-md font-light text-gray-400 !mb-8">
                Bạn sẽ nhận được các đề xuất tùy chỉnh mà bạn có thể lưu và biến thành
                hành trình.
            </h1>

            <!-- Search Box -->
            <div class="relative w-full max-w-3xl">
                <input type="text" placeholder="Chọn một thành phố, thị trấn"
                    class="w-full px-14 py-3 border rounded-full text-gray-500" formControlName="locationName" />
                <span class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-400">
                    🔍
                </span>
                <ul *ngIf="
            !isLoading &&
            locationName?.value?.length >= 2 &&
            this.selectedLocation?.name != locationName
          " class="absolute bg-white shadow rounded w-full z-50 mt-1 max-h-60 overflow-y-auto">
                    <li *ngFor="let location of locations" (click)="selectLocation(location)"
                        class="px-3 py-2 hover:bg-gray-100 cursor-pointer text-left">
                        <div class="flex items-center space-x-5 p-5">
                            <img [src]="location?.image" alt="" srcset="" class="w-12 h-12 object-cover rounded-lg" />
                            <div>
                                <p>{{ location.name }}</p>
                                <p class="text-sm text-gray-500">
                                    {{ location.description | slice : 0 : 40 }}...
                                </p>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="locations?.length === 0 && isLoading" class="px-3 py-2 text-gray-500 italic">
                        Không tìm thấy điểm đến
                    </li>
                </ul>
            </div>

            <!-- Next Button -->
            <button type="button" (click)="nextStep()"
                class="bg-black text-white text-lg px-6 py-2 rounded-full !mb-10 !mt-10">
                Tiếp theo
            </button>

            <!-- Suggested Cities Section -->
            <h2 class="text-3xl font-bold mb-5">Hoặc bắt đầu với thành phố này</h2>

            <!-- City Selection Carousel -->
            <div class="flex justify-center items-center space-x-2 w-full m-auto">
                <div class="flex space-x-4">
                    @for (location of suggesLocations; track $index) {
                    <div (click)="selectLocation(location)"
                        class="flex flex-col items-center hover:cursor-pointer hover:scale-105 transition-all duration-300">
                        <div
                            class="w-40 h-48 bg-gray-300 flex items-center justify-center rounded-lg text-lg font-semibold">
                            <img [src]="location?.image" alt="" srcset=""
                                class="w-full h-full object-cover rounded-lg" />
                        </div>
                        <p class="mt-3 pl-2 text-left w-full font-bold">
                            {{ location?.name }}
                        </p>
                        <p class="pl-2 text-left w-40 text-sm text-gray-500">
                            {{ location?.description | slice : 0 : 100 }}...
                        </p>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div *ngIf="currentStep === 1" class="flex flex-col items-center text-center mb-20">
            <h1 class="text-5xl font-bold mb-3">Thời gian bạn muốn đi?</h1>
            <h1 class="text-md font-light text-gray-400 !mb-8">
                Chọn thời gian bạn muốn đi và thời gian bạn muốn quay lại. Bạn có thể không chọn mục này
            </h1>

            <!-- Date Picker -->
            <div class="flex justify-between w-[80%] items-center text-center mb-20">
                <div class="flex flex-col items-center">
                    <label class="text-lg font-bold mb-3">Ngày bắt đầu</label>
                    <input type="date" formControlName="startDate" [min]="minStartDate"
                        class="border rounded-full px-4 py-2" (change)="calculateEndDate()" />
                </div>
                <div class="flex flex-col items-center">
                    <label class="text-lg font-bold mb-3">Ngày kết thúc</label>
                    <input type="date" formControlName="endDate" [max]="maxEndDate" [min]="minEndDate"
                        class="border rounded-full px-4 py-2" />
                </div>
            </div>

            <div class="flex justify-between items-center text-center w-full mb-20">
                <button type="button" (click)="prevStep()"
                    class="underline text-black text-lg px-6 py-2 rounded-full !mb-10 !mt-10 hover:bg-gray-200">
                    Quay lại
                </button>
                <!-- Next Button -->
                <button type="button" (click)="nextStep()"
                    class="bg-black text-white text-lg px-6 py-2 rounded-full !mb-10 !mt-10 hover:bg-gray-800">
                    Tiếp theo
                </button>
            </div>
        </div>

        <div *ngIf="currentStep === 2" class="flex flex-col items-center text-center mb-20">
            <h1 class="text-5xl font-bold mb-3">
                Loại hình du lịch mong muốn của bạn?
            </h1>
            <h1 class="text-md font-light text-gray-400 !mb-8">
                Lựa chọn loại hình du lịch mà bạn muốn. Bạn có thể thay đổi điều này
                sau.
            </h1>

            <!-- Date Picker -->
            <div class="flex flex-col items-center gap-8">
                <!-- Trip Type Selection -->
                <div class="flex gap-4">
                    <button type="button" *ngFor="let trip of tripTypes; let i = index" (click)="selectTrip(trip)"
                        [ngClass]="{
              'bg-emerald-400 text-black border-none': selectedTrip === trip,
              'bg-white border border-gray-300': selectedTrip !== trip
            }" class="flex flex-col items-center justify-center px-6 py-4 rounded-lg w-40 h-24 transition">
                        <div class="text-2xl mb-1" [innerHTML]="trip.icon"></div>
                        <span class="font-medium">{{ trip.label }}</span>
                        <div *ngIf="selectedTrip === trip" class="absolute top-2 right-2 text-black">
                            ✓
                        </div>
                    </button>
                </div>

                <!-- Pet Question -->
                <div class="text-center">
                    <p class="text-gray-500 flex items-center justify-center gap-1">
                        Bạn có đi cùng trẻ em không?
                        <span class="text-gray-400 text-sm cursor-help">?</span>
                    </p>
                    <div class="flex justify-center mt-4 gap-4">
                        <button type="button" (click)="isTravelingWithChildren = true" [ngClass]="{
                'bg-white border border-gray-300': !isTravelingWithChildren,
                'bg-emerald-400 text-black': isTravelingWithChildren
              }" class="px-6 py-2 rounded-full font-semibold w-24">
                            Có
                        </button>
                        <button type="button" (click)="isTravelingWithChildren = false" [ngClass]="{
                'bg-emerald-400 text-black': !isTravelingWithChildren,
                'bg-white border border-gray-300': isTravelingWithChildren
              }" class="px-6 py-2 rounded-full font-semibold w-24">
                            Không
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex justify-between items-center text-center w-full mb-20">
                <button type="button" (click)="prevStep()"
                    class="underline text-black text-lg px-6 py-2 rounded-full !mb-10 !mt-10 hover:bg-gray-200">
                    Quay lại
                </button>
                <!-- Next Button -->
                <button type="button" (click)="nextStep()"
                    class="bg-black text-white text-lg px-6 py-2 rounded-full !mb-10 !mt-10 hover:bg-gray-800">
                    Tiếp theo
                </button>
            </div>
        </div>

        <div *ngIf="currentStep === 3">
            <div class="interests-container">
                <h1 class="text-5xl font-bold mb-3">
                    Cho chúng tôi biết sở thích của bạn
                </h1>
                <h1 class="text-md font-light text-gray-400 !mb-8">
                    Chọn tất cả lựa chọn phù hợp
                </h1>
                <div class="interests-grid">
                    <!-- Tags Container -->
                    <div class="flex flex-wrap justify-center gap-4 max-w-4xl">
                        <ng-container *ngFor="let interest of interests">
                            <button type="button" (click)="toggleInterest(interest)" [ngClass]="{
                  'bg-emerald-400 text-white hover:bg-emerald-500':
                    isSelected(interest),
                  'bg-white text-black hover:bg-gray-100': !isSelected(interest)
                }" class="px-5 py-2 rounded-full border border-gray-300 text-lg transition">
                                {{ interest }}
                            </button>
                        </ng-container>

                        <!-- Add interest button (không cần toggle) -->
                        <button type="button" data-modal-target="interest-modal" data-modal-toggle="interest-modal"
                            (click)="openModal()" [ngClass]="{
                            'bg-emerald-400 text-white hover:bg-emerald-500':
                            otherInterest.length > 1,
                            'bg-white text-black hover:bg-gray-100': otherInterest.length < 1
                          }"
                            class="flex items-center gap-2 px-5 py-2 rounded-full border border-gray-300 text-lg  transition">
                            @if(otherInterest.length < 1) { <span class="text-xl">＋</span> Thêm sở thích
                                } @else {
                                {{otherInterest}}
                                }

                        </button>
                    </div>
                </div>
            </div>
            <div class="flex justify-between items-center text-center w-full mb-20">
                <button type="button" (click)="prevStep()"
                    class="underline text-black text-lg px-6 py-2 rounded-full !mb-10 !mt-10 hover:bg-gray-200">
                    Quay lại
                </button>
                
                <!-- Next Button -->
                <button *ngIf="selectedInterests.length > 0" type="button" (click)="onSubmit()"
                    class="bg-black text-white text-lg px-6 py-2 rounded-full !mb-10 !mt-10 hover:bg-gray-800">
                    Hoàn tất
                </button>
            </div>
        </div>
    </div>
</form>

<div id="interest-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <!-- Tiêu đề -->
                <label for="interests" class="block text-base font-semibold text-black">
                    Thêm sở thích của bạn
                </label>

                <!-- Ô nhập -->
                 <form [formGroup]="addInterestForm">
                    <textarea id="interests" maxlength="50" rows="3"
                    class="w-full border border-black rounded-md px-4 py-3 text-base text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-black"
                    formControlName="interest"
                    placeholder="Enter additional interests"></textarea>
                 </form>
                

                <!-- Phần mô tả -->
                <div class="flex justify-between text-sm text-gray-500">
                    <span>
                        Sở thích nên phân cách bởi dấu phẩy (,) và không nên chứa các ký tự đặc biệt
                    </span>
                    <span>{{addInterestForm.value.interest.length}}/50 kí tự tối đa </span>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex justify-end items-center p-4 md:p-5 rounded-b ">
                <button data-modal-hide="interest-modal" type="button" (click)="addInterest()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Thêm
                </button>
                <button data-modal-hide="interest-modal" type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Hủy
                </button>
            </div>
        </div>
    </div>
</div>

@if(showError) {
<!-- Warning Notification (Only One at a Time) -->
<div class="fixed top-[11rem] left-1/2 transform -translate-x-1/2 z-999 w-80">
    <div class="flex items-center bg-white shadow-md border border-gray-200 rounded-md p-3 animate-slide-in">
        <span class="text-red-500 text-xl mr-2">X</span>
        <p class="text-red-800 text-sm">
            {{ errorMessage }}
        </p>
    </div>
</div>
}




@if(isGenerating) {
<!-- Modal Overlay (Black Background with blur) -->
<div class="fixed inset-0 flex items-center justify-center bg-black/70 backdrop-blur-sm transition-opacity z-50">
    <!-- Modal Box -->
    <div id="loadingModal" tabindex="-1" class="w-full max-w-md p-4">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800 animate-fadeIn">
            <!-- Modal Content -->
            <div class="p-6 text-center">
                <div class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">Đang thực hiện tạo chương trình du lịch cho bạn...</div>
                    <br />
                    Vui lòng đợi trong giây lát.
            </div>
        </div>
    </div>
</div>
}