<div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
  <h3 class="text-muted-foreground text-sm font-medium">
    Showing {{pageItems}} of {{ totalItems }} users
  </h3>
  <div class="flex flex-wrap gap-2">
    <div class="flex">
      <label class="text-muted-foreground relative">
        <div class="absolute left-2.5 top-2.5">
          <svg-icon
            src="./assets/icons/heroicons/outline/magnifying-glass.svg"
            [svgClass]="'h-4 w-4'"
          >
          </svg-icon>
        </div>
        <input
          name="search"
          class="py-2 pl-8 pr-2"
          placeholder="Search title, description"
          type="text"
          value=""
          (input)="onInput($event)"
        />
      </label>
    </div>
    <div class="flex flex-wrap gap-5">
      <select name="status" (change)="onStatusSelected($event)" class="text-muted-foreground w-28! p-2">
        <option value="all">All</option>
        <option value="Active">Active</option>
        <option value="Disabled">Disabled</option>
      </select>
      <select name="order" class="text-muted-foreground w-28! p-2" (change)="onOrderSelected($event)">
        <option value="Newest">Newest</option>
        <option value="Oldest">Oldest</option>
      </select>

      <button
        type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
        (click)="filter()"
      >
        Filter
      </button>
    </div>
  </div>
</div>
