<div *ngIf="tourId" class="bg-gray-100 shadow-md w-full mt-2 p-4">
    <div class="text-lg font-semibold">
        <span class="text-red-600 font-bold">VT{{  tour?.id }}_</span>
        <span class="font-bold">{{ tour?.name }}</span>
        <span class="ml-4 font-bold">Thời gian khởi hành: 02/02/2025</span>
    </div>
    <nav class=" flex justify-between px-32 space-x-6 mt-4 text-gray-600">
        <a [routerLink]="['/head-business/tour-details']" [queryParams]="{ id: tourId }"
            routerLinkActive="border-b-4 border-green-700 font-semibold" class=" hover:text-black">Chi tiết</a>
        <p class="text-gray-400">|</p>
        <a [routerLink]="['/head-business/tour-day']" [queryParams]="{ id: tourId }"
            routerLinkActive="border-b-4 border-b-green-700 font-semibold" class="hover:text-black">Ngày tour</a>
    </nav>
</div>
<router-outlet></router-outlet>