<ng-container>
  <td class="text-center">
    <input
      [(ngModel)]="serviceContact.selected"
      class="checkbox checkbox-sm"
      data-datatable-row-check="true"
      type="checkbox"
      value="28" />
  </td>
  <td>{{ serviceContact.position }}</td>

  <td>{{ serviceContact.fullName }}</td>

  <td>
    {{ serviceContact.phoneNumber }}
  </td>

  <td>
    {{ serviceContact.email }}
  </td>

  <td>{{ serviceContact.gender }}</td>
  
  <td>
    @for (serviceProviderName of serviceContact.serviceProvider; track $index){
      {{ serviceProviderName.name }}
    }
  </td>

  
  <td>
    <div  class="text-center flex justify-center items-center">
    <button 
      type="button" 
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="onUpdate(serviceContact)">
      Update
    </button>
    
    @if (serviceContact.deleted) {
      <button 
        type="button" 
        class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        (click)="showServiceContact()">
        Show
      </button>
    } @else {
      <button 
        type="button" 
        class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        (click)="hideServiceContact()">
        Hide
      </button>
    }
    </div>
    
  </td>
</ng-container>
