<ng-container>
  <td class="text-center">
    <input
      [(ngModel)]="blog.isDeleted"
      class="checkbox checkbox-sm"
      data-datatable-row-check="true"
      type="checkbox"
      value="28" />
  </td>
  <td>{{ blog.id }}</td>
  <td>
    <div class="flex items-center gap-2.5">
      <img
        alt="user avatar"
        class="h-9 w-9 shrink-0 rounded-full"
        src="logo.png" />
    </div>
  </td>

  <td>
    {{ blog.title }}
  </td>

  <td>
    {{ blog.description }}
  </td>

  <td>{{ blog.authorId }}</td>
  
  <td class="space-x-1">
    @for (tagid of blog.tagIds; track $index) {
    <span class="rounded-[30px] bg-yellow-500/10 px-2 py-0.5 text-xs font-medium text-yellow-800">
      {{ tagid }}
    </span>
    }
  </td>
  
  
  <td class="text-center">
    <button
      class="flex h-7 w-7 items-center justify-center rounded-md text-muted-foreground hover:bg-card hover:text-foreground">
      <svg-icon src="../public/assets/icons/heroicons/outline/ellipsis-vertical.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
    </button>
  </td>
</ng-container>
