<div class="bg-background relative">
    <div class="mx-auto px-5">
      <div class="flex items-center justify-between py-3.5 md:justify-start">
        
  
        <!-- Logo -->
        <div class="flex items-center justify-start sm:order-2 md:mr-10 lg:hidden">
          <a class="bg-primary flex items-center justify-center rounded-sm p-2 focus:outline-hidden focus:ring-1">
            <img src="assets/images/logo/logo.png" class="h-8 w-8" alt="logo" />
          </a>
          <b class="text-foreground hidden pl-3 text-sm font-bold sm:block"> Viet Travel </b>
        </div>
  
        <!-- Profile menu -->
        <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0">
          <app-profile-menu></app-profile-menu>
        </div>
      </div>
    </div>
  </div>
  