<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Add new Service</h2>
    <form>
        <div class="mb-4">
            <label for="image" class="block">Image</label>
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Image Preview" class="w-16 h-16 border mb-2" />
            <div class="flex items-center mb-2">
                <input id="image" type="file" accept="image/*" class="input" (change)="onFileChange($event)" />
            </div>
        </div>

        <div class="mb-4 flex">
            <div class="flex-1 mr-2">
                <label for="name" class="block">Name</label>
                <input id="name" type="text" placeholder="Enter Name (e.g., Salute Premium Hotel & Spa)"
                    class="input" />
            </div>
        </div>

        <div class="mb-4 flex">
            <div class="flex-1 mr-2">
                <label for="startDate" class="block">Start Date</label>
                <input id="startDate" type="date" class="input" />
            </div>
            <div class="flex-1 ml-2">
                <label for="endDate" class="block">End Date</label>
                <input id="endDate" type="date" class="input" />
            </div>
        </div>

        <div class="mb-4">
            <label for="price" class="block">Price</label>
            <input id="price" type="text" placeholder="Enter Price" class="input" />
        </div>

        <div class="flex justify-end mt-4 space-x-2">
            <button type="button" (click)="onCancel()"
                class="px-4 py-2 text-gray-600 bg-gray-200 rounded-md hover:bg-gray-300">Cancel</button>
            <button type="submit" class="px-4 py-2 text-white bg-green-700 rounded-md hover:bg-green-700">Add Service</button>
        </div>
    </form>
</div>