<footer class="bg-background">
    <div class="container mx-10 flex flex-col items-center justify-between gap-4 md:flex-row">

        <!-- Copyright -->
        <div class="text-muted-foreground text-sm font-bold text-gray-300 hover:text-green-700 cursor-default">
            © {{ currentYear }} Viet Travel.
        </div>

        <!-- Links -->
        <div class="flex mr-16 space-x-4 text-sm font-bold text-gray-300 ">
            <a href="#" class="hover:text-primary transition hover:text-green-700">Privacy Policy</a>
            <a href="#" class="hover:text-primary transition hover:text-green-700">Terms of Service</a>
            <a href="#" class="hover:text-primary transition hover:text-green-700">Support</a>
        </div>
    </div>
</footer>