<ng-container>
  <td>{{ payment.id }}</td>

  <td>
    {{ payment.createdDate | formatDate }}
  </td>

  <td>
    {{ payment.accountingDate| formatDate }}
  </td>

  <td>
    {{ payment.provider}}
  </td>

  <td>
    {{ payment.amount| currencyVnd }}
  </td>

  <td>
    {{ payment.paymentMethod }}
  </td>

  <td>
    {{ payment.status }}
  </td>

  <td>
    <div class="text-center flex justify-center items-center">
      <button type="button"
        class="text-white w-24 bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="openDetail(payment)">
        Chi tiết
      </button>
    </div>
  </td>
</ng-container>