@if(isLoading) {
<div class="fixed inset-0 bg-white z-20 flex items-center justify-center top-[600px]">
    <div class="w-[80%] mx-auto">
        <!-- Header -->
        <div class="h-8 w-3/4 bg-gray-300 animate-pulse rounded mb-6"></div>

        <!-- Image Section -->
        <div class="grid grid-cols-4 gap-4">
            <div class="space-y-2">
                <div class="h-20 bg-gray-300 animate-pulse rounded"></div>
                <div class="h-20 bg-gray-300 animate-pulse rounded"></div>
                <div class="h-20 bg-gray-300 animate-pulse rounded"></div>
            </div>
            <div class="col-span-3 h-64 bg-gray-300 animate-pulse rounded"></div>
        </div>

        <!-- Price Box -->
        <div class="mt-4 p-4 w-64 h-16 bg-gray-300 animate-pulse rounded"></div>

        <!-- Departure Calendar -->
        <div class="mt-6">
            <div class="h-8 w-40 bg-gray-300 animate-pulse rounded mb-3"></div>
            <div class="grid grid-cols-7 gap-2">
                <!-- Calendar Skeleton -->
                <div class="h-10 w-10 bg-gray-300 animate-pulse rounded"></div>
                <div class="h-10 w-10 bg-gray-300 animate-pulse rounded"></div>
                <div class="h-10 w-10 bg-gray-300 animate-pulse rounded"></div>
                <div class="h-10 w-10 bg-gray-300 animate-pulse rounded"></div>
                <div class="h-10 w-10 bg-gray-300 animate-pulse rounded"></div>
                <div class="h-10 w-10 bg-gray-300 animate-pulse rounded"></div>
                <div class="h-10 w-10 bg-gray-300 animate-pulse rounded"></div>
            </div>
        </div>

        <!-- Schedule -->
        <div class="mt-6 space-y-4">
            <div class="h-16 bg-gray-300 animate-pulse rounded"></div>
            <div class="h-16 bg-gray-300 animate-pulse rounded"></div>
            <div class="h-16 bg-gray-300 animate-pulse rounded"></div>
        </div>

        <!-- Important Information -->
        <div class="mt-6 space-y-2">
            <div class="h-12 bg-gray-300 animate-pulse rounded"></div>
            <div class="h-12 bg-gray-300 animate-pulse rounded"></div>
            <div class="h-12 bg-gray-300 animate-pulse rounded"></div>
            <div class="h-12 bg-gray-300 animate-pulse rounded"></div>
            <div class="h-12 bg-gray-300 animate-pulse rounded"></div>
        </div>

        <!-- Other Tours -->
        <div class="mt-6 grid grid-cols-3 gap-4">
            <div class="h-40 bg-gray-300 animate-pulse rounded"></div>
            <div class="h-40 bg-gray-300 animate-pulse rounded"></div>
            <div class="h-40 bg-gray-300 animate-pulse rounded"></div>
        </div>
    </div>
</div>
}

<!-- Main Hotel Details Content -->
<div class="container mx-auto p-6 pb-0 mt-32">
    <!-- Hotel Title -->
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-1 row-span-1"></div>
        <h1 class="col-span-11 row-span-1 text-4xl font-bold mb-10">{{ hotelDetails?.name }}</h1>
        <div class="col-span-1 row-span-2"></div>
        <!-- Main Image -->
        <div class="col-span-7 row-span-2">
            <div class="bg-gray-300 shadow-sm rounded-md w-full h-[500px] flex items-center justify-center">
                <img [src]="hotelDetails?.imageUrl" alt="Hotel Main Image" class="w-full h-[500px] object-cover" />
            </div>
        </div>

        <!-- Phần tổng giá -->
        <div class="col-span-3 row-span-2 bg-gray-100 p-4 sticky rounded-lg shadow-md top-32 h-fit">
            <div class="mt-3 space-y-2 text-gray-700 text-sm">
                <p class="mt-3 font-semibold">Địa chỉ: <span class="text-blue-700">{{ hotelDetails?.location?.name
                        }}</span></p>
                <p class="my-3 font-semibold flex items-center gap-1">
                    Đánh giá:
                    <ng-container *ngFor="let star of getStarsArray(hotelDetails?.star)">
                      <span class="w-4 h-4 rounded-full bg-green-600 inline-block"></span>
                    </ng-container>
                  </p>
                  
                <div class="">
                    <a [href]="hotelDetails?.website" class="text-blue-500 hover:underline font-semibold">Xem
                        website</a>
                </div>
            </div>
        </div>

        <div class="gap-4 col-span-8 ml-32 row-span-3 mt-20">
            <div class="max-w-5xl mt-6 mx-auto space-y-10">
                <!-- Introduction & Location -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-20">
                    <div>
                        <h2 class="text-2xl font-bold mb-8">Giới thiệu</h2>
                        <div class="bg-white p-6 shadow-md rounded-lg">
                            <div class="relative">
                                <div [class]="isShow ? 'max-h-[600px]' : 'max-h-[200px]'"
                                    class="overflow-hidden transition-all duration-500 ease-in-out">
                                    <div [innerHTML]="hotelDetails?.abbreviation"></div>
                                </div>
                            </div>

                            <!-- Toggle Button -->
                            <label for="toggle"
                                class="block text-center text-blue-500 font-semibold cursor-pointer mt-3">
                                @if(isShow) {
                                <span>Thu gọn</span>
                                } @else {
                                <span>Xem thêm</span>
                                }
                            </label>
                            <input id="toggle" type="checkbox" class="hidden" (change)="showOrHide()" />
                        </div>
                    </div>

                    <div>
                        <h2 class="text-2xl font-bold mb-8">Địa điểm</h2>
                        <div id="map"
                            class="bg-gray-200 h-[284px] p-6 z-10 flex items-center justify-center shadow-md rounded-lg">
                        </div>
                    </div>
                </div>

                <!-- Services Section -->
                <div>
                    <h2 class="text-3xl font-bold text-center mb-4">Tiện nghi chỗ ở</h2>
                    <div class="bg-white p-6 shadow-md border rounded-lg">
                        <div class="grid grid-cols-2 md:grid-cols-3 gap-3 text-gray-600 text-sm">
                            <span>— Bữa sáng</span>
                            <span>— Bể bơi</span>
                            <span>— Bồn tắm</span>
                            <span>— Bữa trưa</span>
                            <span>— Phòng xông hơi</span>
                            <span>— Điều hoà</span>
                            <span>— Bữa tối</span>
                            <span>— Massage</span>
                            <span>— Mạng wifi</span>
                        </div>
                    </div>
                </div>

                <!-- Room List Section -->
                <div>
                    <h2 class="text-3xl font-bold text-center mb-6 mt-20">Danh sách phòng</h2>
                    <div *ngFor="let room of rooms" class="bg-gray-200 p-6 rounded-lg shadow-md mb-6">
                        <h3 class="text-xl font-bold">{{ room.name }}</h3>
                        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-4">
                            <img [src]="room.imageUrl" alt="Room Image" class="w-full h-full object-cover rounded-md">
                            <div class="space-y-2 col-span-2 ml-7">
                                <p><strong>Số khách/phòng:</strong> {{ room.capacity }}</p>
                                <p class="text-red-600 text-lg font-bold">{{ room.sellingPrice | currencyVnd }} / đêm
                                </p>
                                <div class="grid grid-cols-2 gap-2 text-sm text-gray-600">
                                    <span *ngFor="let facility of room.facilities.split(', ')">— {{ facility }}</span>
                                </div>
                            </div>
                            <div class="flex flex-col justify-between">
                                <button (click)="selectRoom(room)" [class.bg-white]="selectedRoom === room"
                                    [class.border-green-600]="selectedRoom === room"
                                    [class.text-green-600]="selectedRoom === room"
                                    [class.border-2]="selectedRoom === room" [class.bg-red-600]="selectedRoom !== room"
                                    [class.text-white]="selectedRoom !== room"
                                    [class.hover:text-white]="selectedRoom === room"
                                    [class.hover:bg-green-700]="selectedRoom === room"
                                    [class.hover:bg-white]="selectedRoom !== room"
                                    [class.border-2]="selectedRoom !== room"
                                    [class.hover:text-red-700]="selectedRoom !== room"
                                    [class.border-red-600]="selectedRoom !== room"
                                    [class.hover:bg-red-700]="selectedRoom !== room"
                                    class="mt-2 px-4 py-2 rounded border">
                                    {{ selectedRoom === room ? 'Đổi phòng' : 'Chọn' }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-10/12 mx-auto rounded-lg mt-20">
        <h2 class="text-2xl md:text-3xl font-bold text-center text-green-700 mb-6">Other Hotels</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            @for (hotel of otherServices.slice(0, 3); track $index) {
            <!-- Hotel Card -->
            <div
                class="cursor-pointer relative rounded-lg shadow-md hover:shadow-xl overflow-hidden border border-gray-200 flex flex-col h-96 group">
                <!-- Background Image with Zoom Effect -->
                <div class="absolute inset-0 bg-cover bg-center transition-transform duration-500 group-hover:scale-110"
                    [style.background-image]="'url(' + hotel.imageUrl + ')'">
                </div>
                <!-- Info Section -->
                <div
                    class="absolute bottom-3 left-3 right-3 p-4 bg-white bg-opacity-80 hover:bg-opacity-70 text-black rounded-lg transition-all duration-300">
                    <h3 class="text-lg font-semibold">{{ hotel.name }}</h3>
                    <p class="text-sm mt-1">
                        Địa điểm: <span class="text-green-700 font-semibold">{{ hotel.location.name }}</span>
                    </p>
                    <!-- Price & Button Section -->
                    <div class="flex justify-between items-center bg-opacity-60 rounded-lg">
                        <div>
                            <p>Price: </p>
                            <p class="text-red-600 text-2xl font-bold">{{ hotel.price || 0 | currencyVnd }}</p>
                        </div>
                        <a href="#" class="text-black hover:text-green-700 font-semibold hover:underline">Xem chi tiết
                            →</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<app-footer></app-footer>