<div class="relative p-6 bg-white rounded-md">
  <h2 class="text-lg font-bold mb-4">Chỉnh sửa bài viết</h2>

  @if(isLoading) {
  <app-blog-loading></app-blog-loading>
  } @else {
  <form [formGroup]="editBlogForm">
    <!-- Hình ảnh thu nhỏ -->
    <label class="block mb-2 text-sm font-medium text-gray-700">Hình ảnh thu nhỏ</label>
    <div class="flex flex-col items-center justify-center mb-4">
      <!-- Xem trước hình ảnh -->
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Xem trước hình ảnh thu nhỏ"
        class="w-full h-64 object-cover rounded-md mb-2" />
      <input type="file" (change)="onFileSelected($event)" class="w-full" />
    </div>

    <!-- Tiêu đề -->
    <label class="block mb-2 text-sm font-medium text-gray-700">Tiêu đề</label>
    <input type="text" formControlName="title" class="w-full p-2 border rounded-md mb-4"
      placeholder="Nhập tiêu đề bài viết" />

    <!-- Thẻ -->
    <label class="block mb-2 mt-3 text-sm font-medium text-gray-700">Thẻ</label>
    <ng-multiselect-dropdown id="selector" [placeholder]="'Chọn thẻ'" formControlName="tags"
      [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)" (onDeSelect)="onDeSelect($event)">
    </ng-multiselect-dropdown>

    <!-- Mô tả -->
    <label class="block mt-5 mb-2 text-sm font-medium text-gray-700">Mô tả</label>
    <textarea formControlName="description" rows="6" class="w-full p-2 border rounded-md mb-4"
      placeholder="Nhập nội dung mô tả bài viết"></textarea>

    <!-- Nội dung -->
    <label class="block mb-2 text-sm font-medium text-gray-700">Nội dung</label>

    <app-blog-content [content]="blog.content" formControlName="content"></app-blog-content>

    <!-- Tác giả -->
    <label class="mt-5 block mb-2 text-sm font-medium text-gray-700">Tên tác giả</label>
    <input type="hidden" formControlName="author" readonly class="w-full p-2 bg-gray-200 border rounded-md mb-4"
      placeholder="Nhập họ tên tác giả" />

    <input type="text" readonly [value]="blog.author.fullName" class="w-full p-2 bg-gray-200 border rounded-md mb-4"
      placeholder="Nhập họ tên tác giả" />

    <!-- Thông báo lỗi -->
    <p *ngIf="errorMessage" class="text-red-500 text-sm mb-3">
      {{ errorMessage }}
    </p>

    <p *ngIf="successMessage" class="text-green-500 text-sm mb-3">
      {{ successMessage }}
    </p>

    <!-- Nút hành động -->
    <div class="flex justify-end space-x-2">
      <button type="button" (click)="onCancel()"
        class="px-4 py-2 text-gray-600 bg-gray-200 rounded-md hover:bg-gray-300">
        Hủy
      </button>
      <button type="submit" (click)="saveChanges()"
        class="px-4 py-2 text-white bg-green-500 rounded-md hover:bg-green-600">
        Lưu thay đổi
      </button>
    </div>
  </form>
  }
</div>