<div class="flex flex-wrap gap-6 p-6">
    <div class="bg-gray-200 p-6 rounded-lg w-96">
        <p class="mb-2">Tổng số thu <span class="float-right">{{ totalCollect.total | number }}</span></p>
        <p class="mb-2">Công ty thu <span class="float-right">{{ totalCollect.companyCollect | number }}</span></p>
        <p class="mb-2">Hướng dẫn viên thu <span class="float-right">{{ totalCollect.travelGuideCollect | number
                }}</span></p>
        <p>Còn lại <span class="float-right">{{ totalCollect.remain | number }}</span></p>
    </div>

    <div class="bg-gray-200 p-6 rounded-lg w-96">
        <p class="mb-2">Tổng số đã trả <span class="float-right">{{ totalPaid.total | number }}</span></p>
        <p class="mb-2">Công ty đã trả <span class="float-right">{{ totalPaid.companyPaid | number }}</span></p>
        <p class="mb-2">Hướng dẫn viên đã trả <span class="float-right">{{ totalPaid.travelGuidePaid | number }}</span>
        </p>
        <p>Còn lại <span class="float-right">{{ totalPaid.remain | number }}</span></p>
    </div>

    <div class="bg-gray-200 p-6 rounded-lg w-fit">
        <div class="grid grid-cols-3 font-semibold mb-2 gap-60 pr-5">
            <p>Nội dung</p>
            <p>Ước tính</p>
            <p>Tóm tắt</p>
        </div>
        <div *ngFor="let item of summary" class="grid grid-cols-3 mb-2 gap-40">
            <p>{{ item.content }}</p>
            <p>{{ item.estimate | currencyVnd }}</p>
            <p>{{ item.summary | currencyVnd }}</p>
        </div>
    </div>
</div>