<div class="flex justify-center items-center h-full min-h-screen p-4"
    style="background-image: url(https://cdn.pixabay.com/photo/2017/10/12/03/03/view-2843338_1280.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="max-w-md w-full mx-auto">
        <form class="bg-opacity-70 bg-white rounded p-6 shadow-[0_2px_16px_-3px_rgba(125,126,131,0.3)]"
            [formGroup]="resetPasswordForm">
            <div class="flex items-center justify-center gap-3">
                <div class="flex items-center justify-center">
                    <img src="assets/images/logo/logo.png" alt="logo" class="w-25 h-20" />
                </div>
                <h3 class="text-gray-800 text-3xl font-bold">Đặt lại mật khẩu</h3>
            </div>

            <div class="relative flex items-center mt-6">
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Mật khẩu"
                    required (focus)="onFocus('password')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" (click)="togglePasswordVisibility()"
                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                    <path
                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                        data-original="#000000"></path>
                </svg>
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'password'">
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.minLength">✔ Tối thiểu 8 ký tự</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.uppercase">✔ Ít nhất 1 chữ hoa</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.lowercase">✔ Ít nhất 1 chữ thường</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.specialChar">✔ Ít nhất 1 ký tự đặc biệt</p>
                </div>
            </div>

            <div class="relative flex items-center mt-6">
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="rePassword"
                    placeholder="Xác nhận mật khẩu" required (focus)="onFocus('rePassword')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" (click)="togglePasswordVisibility()"
                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                    <path
                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                        data-original="#000000"></path>
                </svg>
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'rePassword'">
                    <p class="m-0 text-xs" [class.valid]="!confirmPasswordMismatch">✔ Phải khớp với mật khẩu</p>
                </div>
            </div>
            
            <div class="mt-6">
                <button type="submit" (click)="onSubmit()"
                    class="w-full py-2.5 px-4 text-sm font-semibold tracking-wider rounded text-white bg-gray-800 hover:bg-[#222] focus:outline-none">
                    Đặt lại mật khẩu
                </button>
                <p class="text-gray-800 text-sm text-center mt-6">Bạn không có tài khoản? <a href="/register"
                        class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Đăng ký tại đây</a></p>
            </div>
            
            <div *ngIf="successMessage" class="text-green-600 text-sm mt-2">
                {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2">
                {{ errorMessage }}
            </div>
        </form>
    </div>
</div>