<div class="flex h-screen w-full overflow-hidden bg-gray-200">
  <!-- Sidebar -->
  <app-admin-sidebar class="bg-white"></app-admin-sidebar>

  <div class="flex grow flex-col bg-white content-start overflow-hidden bg-card">
    <!-- Header -->
    <app-admin-header></app-admin-header>

    <!-- Main content -->
    <div id="main-content" class="bg-gray-100 grow overflow-auto custom-scrollbar">
      <div class="m-4 rounded-md p-6">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- Footer -->
    <!-- <app-admin-footer class="sticky bottom-0 w-full bg-white border-muted py-6 pl-0 z-10"></app-admin-footer> -->
  </div>
</div>
