<div class="mt-4 overflow-x-auto bg-white shadow-md rounded-lg">
    <table class="w-full border-collapse border border-gray-300">
        <thead class="bg-green-700">
            <tr>
                <th class="border border-gray-300 text-white p-2">STT</th>
                <th class="border border-gray-300 text-white p-2">Khách hàng</th>
                <th class="border border-gray-300 text-white p-2">Số chỗ</th>
                <th class="border border-gray-300 text-white p-2">Tạo bởi</th>
                <th class="border border-gray-300 text-white p-2">Thanh toán</th>
                <th class="border border-gray-300 text-white p-2">Ngày tạo</th>
                <th class="border border-gray-300 text-white p-2">Trạng thái</th>
                <th class="border border-gray-300 text-white p-2">Nhân viên</th>
                <th class="border border-gray-300 text-white p-2">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings" class="border border-gray-300">
                <td class="border border-gray-300 p-2 text-center">{{ booking.id }}</td>
                <td class="border border-gray-300 p-2">{{ booking.customer }}</td>
                <td class="border border-gray-300 p-2">
                    Tổng: {{ booking.slot.total }} chỗ<br>
                    Người lớn: {{ booking.slot.adult }} chỗ<br>
                    Trẻ em: {{ booking.slot.child }} chỗ
                </td>
                <td class="border border-gray-300 p-2">{{ booking.from }}</td>
                <td class="border border-gray-300 p-2">
                    <span class="text-gray-700">Tổng: </span>
                    <span class="text-green-600 font-bold">{{ booking.payment.total | currencyVnd }}</span><br>

                    <span class="text-gray-700">Đã nhận: </span>
                    <span class="text-green-500 font-bold">{{ booking.payment.received | currencyVnd }}</span><br>

                    <span class="text-gray-700">Còn lại: </span>
                    <span [ngClass]="booking.payment.remain > 0 ? 'text-red-500 font-bold' : 'text-green-500'">
                        {{ booking.payment.remain | currencyVnd }}
                    </span><br>

                    <span class="text-gray-700">HDV thu: </span>
                    <span [ngClass]="booking.payment.guideCollect > 0 ? 'text-red-500 font-bold' : 'text-green-500'">
                        {{ booking.payment.guideCollect | currencyVnd }}
                    </span>
                </td>
                <td class="border border-gray-300 p-2">{{ booking.createDate }}</td>
                <td class="border border-gray-300 p-2">{{ booking.status }}</td>
                <td class="border border-gray-300 p-2">{{ booking.salesman || 'N/A' }}</td>
                <td class="border-0">
                    <div class="flex">
                        <svg class="ml-4 w-6 h-6 text-gray-800 dark:text-green-700 cursor-pointer" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                        </svg>

                        <svg class="ml-2 w-6 h-6 text-gray-800 dark:text-red-600 cursor-pointer" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18 17.94 6M18 18 6.06 6" />
                        </svg>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>