<div class="flex justify-center items-center h-full min-h-screen p-4"
    style="background-image: url(https://cdn.pixabay.com/photo/2017/10/12/03/03/view-2843338_1280.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="max-w-md w-full mx-auto relative">
        <form class="bg-opacity-70 bg-white rounded p-6 shadow-[0_2px_16px_-3px_rgba(125,126,131,0.3)]"
            [formGroup]="signupForm">
            <div class="flex items-center justify-center gap-3">
                <div class="flex items-center justify-center">
                    <img src="assets/images/logo/logo.png" alt="logo" class="w-25 h-20" />
                </div>
                <h3 class="text-gray-800 text-3xl font-bold">Đăng ký</h3>
            </div>

            <div class="relative flex items-center mt-2">
                <input type="text" formControlName="username" placeholder="Tên đăng nhập" required
                    (focus)="onFocus('username')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333"
                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M12 14c4.418 0 8 1.79 8 4v2H4v-2c0-2.21 3.582-4 8-4z"></path>
                    <circle cx="12" cy="7" r="4" fill="none" stroke="currentColor" stroke-width="2"></circle>
                </svg>
                <!-- Username Criteria Popup -->
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'username'">
                    <p class="m-0 text-xs" [class.valid]="usernameCriteria.minLength">✔ Ít nhất 8 ký tự</p>
                    <p class="m-0 text-xs" [class.valid]="usernameCriteria.maxLength">✔ Tối đa 30 ký tự</p>
                    <p class="m-0 text-xs" [class.valid]="usernameCriteria.pattern">✔ Ký tự alphabetic</p>
                </div>
            </div>

            <div class="relative flex items-center mt-4">
                <input type="text" formControlName="fullName" placeholder="Họ tên" required
                    (focus)="onFocus('fullName')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333"
                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M12 14c4.418 0 8 1.79 8 4v2H4v-2c0-2.21 3.582-4 8-4z"></path>
                    <circle cx="12" cy="7" r="4" fill="none" stroke="currentColor" stroke-width="2"></circle>
                </svg>
                <!-- Full Name Criteria Popup -->
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'fullName'">
                    <p class="m-0 text-xs" [class.valid]="fullNameCriteria.pattern">✔ Ký tự alphabetic và khoảng trắng</p>
                </div>
            </div>

            <div class="relative flex items-center mt-4">
                <input type="email" formControlName="email" placeholder="Email" required (focus)="onFocus('email')"
                    (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333"
                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M3 8l9 6 9-6V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2z"></path>
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M3 8v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8l-9 6-9-6z"></path>
                </svg>
                <!-- Email Criteria Popup -->
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'email'">
                    <p class="m-0 text-xs" [class.valid]="emailCriteria.validFormat">✔ Email hợp lệ</p>
                </div>
            </div>

            <!-- Gender Field -->
            <div class="relative flex items-center mt-4">
                <select required formControlName="gender" (focus)="onFocus('gender')" (blur)="onBlur()"
                  class="bg-transparent w-full text-sm border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none text-gray-800">
                  <option value="" disabled selected>Chọn giới tính</option>
                  <option value="MALE">Nam</option>
                  <option value="FEMALE">Nữ</option>
                </select>
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                  *ngIf="activeField === 'gender'">
                  <p class="m-0 text-xs" [class.valid]="gendersCriteria.validFormat">✔ Chọn giới tính</p>
                </div>
              </div>

              <!-- Phone Number Field -->
            <div class="relative flex items-center mt-4">
                <input type="tel" formControlName="phone" placeholder="Số điện thoại" required (focus)="onFocus('phone')"
                    (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333"
                    class="w-[18px] h-[18px] absolute right-2 top-2" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M6.62 10.79a15.91 15.91 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.11-.21 11.36 11.36 0 0 0 3.58.57 1 1 0 0 1 1 1v3.54a1 1 0 0 1-1 1A17 17 0 0 1 3 5a1 1 0 0 1 1-1h3.54a1 1 0 0 1 1 1 11.36 11.36 0 0 0 .57 3.58 1 1 0 0 1-.21 1.11z" />
                </svg>
                <!-- Phone Criteria Popup -->
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'phone'">
                    <p class="m-0 text-xs" [class.valid]="phoneCriteria.validFormat">✔ Số điện thoại hợp lệ</p>
                </div>
            </div>

            <!-- Address Field -->
            <div class="relative flex items-center mt-4">
                <input formControlName="address" placeholder="Địa chỉ" required (focus)="onFocus('address')" type="text"
                    (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333"
                    class="w-[18px] h-[18px] absolute right-2 top-2" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M3 9.5L12 3l9 6.5V20a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1V9.5z" />
                </svg>
                <!-- Address Criteria Popup -->
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'address'">
                    <p class="m-0 text-xs" [class.valid]="addressCriteria.validFormat">✔ Địa chỉ hợp lệ</p>
                </div>
            </div>

            <!-- Password Field -->
            <div class="relative flex items-center mt-4">
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Mật khẩu"
                    required (focus)="onFocus('password')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" (click)="togglePasswordVisibility()"
                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                    <path
                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                        data-original="#000000"></path>
                </svg>
                <!-- Password Criteria Popup -->
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'password'">
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.minLength">✔ Ít nhất 8 ký tự</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.uppercase">✔ Ít nhất 1 ký tự in hoa</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.lowercase">✔ Ít nhất 1 ký tự thường</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.specialChar">✔ Ít nhất 1 ký tự đặc biệt</p>
                </div>
            </div>


            <div class="relative flex items-center mt-4">
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="rePassword"
                    placeholder="Nhập lại mật khẩu" required (focus)="onFocus('rePassword')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" (click)="togglePasswordVisibility()"
                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                    <path
                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                        data-original="#000000"></path>
                </svg>
                <!-- Confirm Password Criteria Popup -->
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'rePassword'">
                    <p class="m-0 text-xs" [class.valid]="!confirmPasswordMismatch">✔ Mật khẩu trùng khớp</p>
                </div>
            </div>

            <div class="mt-8">
                <button (click)="onSubmit()"
                    class="w-full py-2.5 px-4 text-sm font-semibold tracking-wider rounded text-white bg-gray-800 hover:bg-[#222] focus:outline-none">
                    Đăng ký
                </button>
                <p class="text-gray-800 text-sm text-center mt-4">Đã có tài khoản <a href="/login"
                        class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Đăng nhập ngay
                        </a></p>
            </div>

            <!-- Error Message -->
            <div *ngIf="errorMessage" class="global-error text-red-500 mt-4">
                {{ errorMessage }}
            </div>
        </form>
    </div>
    <!-- Centered Loading Spinner -->
    <div class="loading absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 z-10"
        *ngIf="isLoading">
        <div class="text-center">
            <svg class="animate-spin h-8 w-8 text-blue-600 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
            </svg>
            <p class="text-blue-600 mt-4">Đang đăng ký, vui lòng đợi...</p>
        </div>
    </div>
</div>