<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" (click)="close()">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96" (click)="$event.stopPropagation()">
        <h2 class="text-lg font-bold mb-4">Đổi mật khẩu</h2>

        <form [formGroup]="changePasswordForm">
            <div class="relative flex items-center mt-6">
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="currentPassword"
                    placeholder="Mật khẩu hiện tại" required (focus)="onFocus('currentPassword')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" (click)="togglePasswordVisibility()"
                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                    <path
                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                        data-original="#000000"></path>
                </svg>
            </div>

            <div class="relative flex items-center mt-6">
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword"
                    placeholder="Mật khẩu mới" required (focus)="onFocus('newPassword')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" (click)="togglePasswordVisibility()"
                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                    <path
                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                        data-original="#000000"></path>
                </svg>
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'password'">
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.minLength">✔ Tối thiểu 8 ký tự</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.uppercase">✔ Ít nhất 1 chữ hoa</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.lowercase">✔ Ít nhất 1 chữ thường</p>
                    <p class="m-0 text-xs" [class.valid]="passwordCriteria.specialChar">✔ Ít nhất 1 ký tự đặc biệt</p>
                </div>
            </div>


            <div class="relative flex items-center mt-6 mb-6">
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="newRePassword"
                    placeholder="Xác nhận mật khẩu" required (focus)="onFocus('newRePassword')" (blur)="onBlur()"
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" (click)="togglePasswordVisibility()"
                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                    <path
                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                        data-original="#000000"></path>
                </svg>
                <div class="popup absolute bg-white border border-gray-300 p-2 w-72 left-[450px] z-10 shadow-lg"
                    *ngIf="activeField === 'rePassword'">
                    <p class="m-0 text-xs" [class.valid]="!newRePasswordMismatch">✔ Phải khớp với mật khẩu</p>
                </div>
            </div>

            <p *ngIf="errorMessage" class="text-red-500 text-sm mb-6">{{ errorMessage }}</p>
            <p *ngIf="successMessage" class="text-green-500 text-sm mb-6">{{ successMessage }}</p>

            <div class="flex justify-end space-x-2">
                <button type="button" (click)="close()"
                    class="px-4 py-2 text-gray-600 bg-gray-200 rounded-md">Hủy</button>
                <button type="submit" (click)="saveChanges()"
                    class="px-4 py-2 text-white bg-green-500 rounded-md">Lưu</button>
            </div>
        </form>
    </div>
</div>