<ng-container>

  <td>
    {{ tour.name }}
  </td>

  <td>
    {{ tour.createdUserName }}
  </td>

  <td>
    {{ tour.numberDays }}N{{ tour.numberNight }}Đ
  </td>

  <td>
    {{ tour.tourType || 'Chưa cập nhật' }}
  </td>

  <td>
    {{ tour.markUpPercent || 'Chưa cập nhật' }}
  </td>
  
  <td>
    {{ tour.markUpPercent || 'Chưa cập nhật' }}
  </td>

  <td>
    @if (tour.deleted) {
    <button type="button"
      class="rounded-[30px] bg-red-500/10 px-2 py-0.5 text-xs font-medium text-red-800 inline-block mt-1"
      (click)="recoverTour()">
      Đã đóng
    </button>
    } @else {
    <button type="button"
      class="rounded-[30px] bg-green-500/10 px-2 py-0.5 text-xs font-medium text-green-800 inline-block mt-1"
      (click)="deleteTour()">
      Mở
    </button>
    }
  </td>

  <td>
    <div class="text-center flex justify-start items-center">
      <button type="button"
        class="text-white w-24 bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="openDetail(tour)">
        Chi tiết
      </button>
      <button type="button"
        class="text-white w-24 bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="openDiscount(tour)">
        Chiết tính
      </button>
      <button type="button"
        class="text-white w-24 bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        (click)="openSaleTour(tour)">
        Mở bán
      </button>
    </div>
  </td>
</ng-container>