<div class="mt-6">
  <!-- Buttons -->
  <div class="flex justify-end gap-2 mb-4">
    <button (click)="openPostReceipt()" class="bg-blue-400 hover:bg-blue-500 text-white px-4 py-2 rounded">Create Receipt</button>
    <button data-modal-target="paymentModal" data-modal-toggle="paymentModal"
      class="bg-yellow-600 text-white hover:bg-yellow-700 px-4 py-2 rounded">Advance Payment</button>
  </div>

  <!-- Table -->
  <div class="rounded-md">
    <table class="w-full text-left bg-white rounded-md">
      <thead class="bg-gray-200">
        <tr>
          <th class="p-2">No</th>
          <th class="p-2">Title</th>
          <th class="p-2">Date</th>
          <th class="p-2">Action</th>
          <th class="p-2">Log Content</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs" class="border-b">
          <td class="p-2">{{ log.id }}</td>
          <td class="p-2">{{ log.title }}</td>
          <td class="p-2">{{ log.date }}</td>
          <td class="p-2">{{ log.action }}</td>
          <td class="p-2">{{ log.logContent }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-post-advance-payment #paymentModal></app-post-advance-payment>