<div class="mt-6">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold">List Service</h2>
        <button data-modal-target="chooseServiceModal" data-modal-toggle="chooseServiceModal"
            class="bg-green-700 hover:bg-green-800 text-white px-4 py-2 rounded">Add
            Service</button>
    </div>

    <div class="rounded-md">
        <table class="w-full text-left bg-white rounded-md">
            <thead class="bg-gray-200 rounded-md">
                <tr>
                    <th class="p-2">#</th>
                    <th class="p-2">Service Name</th>
                    <th class="p-2">Type</th>
                    <th class="p-2">Booking ID</th>
                    <th class="p-2">Date</th>
                    <th class="p-2">Quantity</th>
                    <th class="p-2">Order</th>
                    <th class="p-2">Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let service of services"
                    class="border-b cursor-pointer hover:font-bold hover:text-green-700">
                    <td (click)="openServiceDetail(service.id)" class="p-2">{{ service.id }}</td>
                    <td (click)="openServiceDetail(service.id)" class="p-2">{{ service.name }}</td>
                    <td (click)="openServiceDetail(service.id)" class="p-2">{{ service.type }}</td>
                    <td (click)="openServiceDetail(service.id)" class="p-2">{{ service.bookingId }}</td>
                    <td class="p-2">
                        <span [class]="getStatusClass(service.status)">{{ service.date }}</span>
                    </td>
                    <td class="p-2">{{ service.quantity }}</td>
                    <td class="p-2 relative">
                        <!-- Dropdown Trigger Button for Order -->
                        <button id="dropdownOrderButton-{{ service.id }}"
                            class="cursor-pointer rounded-[30px] bg-yellow-500/10 px-2 py-0.5 text-xs font-medium text-yellow-800 inline-block mt-1"
                            type="button">
                            {{ service.order }}
                        </button>

                        <!-- Dropdown Menu for Order -->
                        <div id="dropdownOrder-{{ service.id }}"
                            class="z-10 hidden absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-36 dark:bg-white">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                                <li>
                                    <button data-modal-target="orderModal" data-modal-toggle="orderModal"
                                        class="mx-auto w-fit cursor-pointer rounded-[30px] bg-yellow-500/10 px-2 py-0.5 text-xs font-medium text-yellow-800 flex mt-1"
                                        (click)="changeOrderStatus(service, 'Waiting For Accept')">
                                        Order
                                    </button>
                                </li>
                                <li>
                                    <button
                                        class="mx-auto w-fit cursor-pointer rounded-[30px] bg-yellow-500/10 px-2 py-0.5 text-xs font-medium text-yellow-800 flex mt-3"
                                        (click)="changeOrderStatus(service, 'Cancel Order')">
                                        Cancel Order
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="p-2 relative">
                        <!-- Dropdown Trigger Button for Payment -->
                        <button id="dropdownPaymentButton-{{ service.id }}"
                            class="cursor-pointer rounded-[30px] bg-yellow-500/10 px-2 py-0.5 text-xs font-medium text-yellow-800 inline-block mt-1"
                            type="button">
                            {{ service.payment }}
                        </button>

                        <!-- Dropdown Menu -->
                        <div id="dropdownPayment-{{ service.id }}"
                            class="z-10 hidden absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-36 dark:bg-white">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                                <li>
                                    <button data-modal-target="tourGuidePayModal" data-modal-toggle="tourGuidePayModal"
                                        class="mx-auto w-fit cursor-pointer rounded-[30px] bg-yellow-500/10 px-2 py-0.5 text-xs font-medium text-yellow-800 flex mt-1">
                                        Tour Guide Pay
                                    </button>
                                </li>
                                <li>
                                    <button
                                        class="mx-auto w-fit cursor-pointer rounded-[30px] bg-yellow-500/10 px-2 py-0.5 text-xs font-medium text-yellow-800 flex mt-3"
                                        (click)="changePaymentStatus(service, 'Paid')">
                                        Pay
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-6 bg-gray-300 h-24 p-4 rounded-md grid grid-cols-4 place-items-center text-center">
        <span><strong>Service </strong> <br> {{ totalService }}</span>
        <span><strong>Paid </strong> <br> {{ paid }}</span>
        <span><strong>Remain </strong> <br> {{ remain }}</span>
        <span><strong>Total Cost </strong><br> {{ totalCost }}</span>
    </div>


    <div class="mt-6 bg-gray-100 w-fit p-4 rounded-md">
        <h3 class="font-semibold">Note</h3>
        <div class="flex items-center mt-2">
            <span class="bg-blue-400 w-6 h-6 inline-block rounded-md mr-2"></span> Continuing
        </div>
        <div class="flex items-center mt-2">
            <span class="bg-green-300 w-6 h-6 inline-block rounded-md mr-2"></span> Completed
        </div>
        <div class="flex items-center mt-2">
            <span class="bg-gray-200 w-6 h-6 inline-block rounded-md mr-2"></span> Not start yet
        </div>
    </div>
</div>

<app-post-service #chooseServiceModal></app-post-service>
<app-tour-guide-pay #tourGuidePayModal></app-tour-guide-pay>
<app-order-service [selectedService]="selectedService" #orderModal></app-order-service>