<button data-modal-target="tourGuidePayModal"></button>
<button data-modal-target="orderModal"></button>

<div class="p-6 bg-white rounded-md shadow-md">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold">Danh sách dịch vụ</h2>
        <button data-modal-target="chooseServiceModal" data-modal-toggle="chooseServiceModal"
            class="bg-green-700 hover:bg-green-800 text-white px-4 py-2 rounded">Thêm
            dịch vụ</button>
    </div>

    <div class="rounded-md">
        <table class="w-full text-left bg-white rounded-md">
            <thead class="bg-gray-200 rounded-md">
                <tr>
                    <th class="p-2">STT</th>
                    <th class="p-2">Tên dịch vụ</th>
                    <th class="p-2">Loại dịch vụ</th>
                    <th class="p-2">Mã booking</th>
                    <th class="p-2">Ngày</th>
                    <th class="p-2">Số lượng</th>
                    <th class="p-2">Đơn hàng</th>
                    <th class="p-2">Thanh toán</th>
                    <th class="p-2">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let service of services, let i = index" class="border-b">
                    <td class="p-2">{{ i + 1 }}</td>
                    <td class="p-2">{{ service.name }}</td>
                    <td class="p-2">{{ service.type }}</td>
                    <td class="p-2">{{ service.bookingCode }}</td>
                    <td class="p-2">{{ service.date !== 'Chưa đặt' ? (service.date | formatDate) : 'Chưa đặt' }}</td>
                    <td class="p-2">{{ service.quantity }} slots</td>
                    <td class="p-2 relative">
                        <button id="dropdownOrderButton-{{ service.uniqueId }}"
                            class="cursor-pointer rounded-[30px] px-2 py-0.5 text-xs font-medium inline-block mt-1 {{ getStatusColor(service.order) }}"
                            type="button">
                            {{ service.order }}
                        </button>

                        <div id="dropdownOrder-{{ service.uniqueId }}"
                            class="z-10 hidden absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-36 dark:bg-white">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                                <li>
                                    <button (click)="openOrderModal(service)"
                                        class="mx-auto w-fit cursor-pointer rounded-[30px] bg-yellow-500/20 px-2 py-0.5 text-xs font-medium text-yellow-800 flex mt-1">
                                        Đặt hàng
                                    </button>
                                </li>
                                <li>
                                    <button (click)="changeOrderStatus(service, 'CANCEL_REQUEST')"
                                        class="mx-auto w-fit cursor-pointer rounded-[30px] bg-red-500/20 px-2 py-0.5 text-xs font-medium text-red-800 flex mt-3">
                                        Hủy đơn hàng
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="p-2 relative">
                        <button id="dropdownPaymentButton-{{ service.uniqueId }}"
                            class="cursor-pointer rounded-[30px] px-2 py-0.5 text-xs font-medium inline-block mt-1 {{ getStatusColor(service.payment) }}"
                            type="button">
                            {{ service.payment }}
                        </button>

                        <div id="dropdownPayment-{{ service.uniqueId }}"
                            class="z-10 hidden absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-36 dark:bg-white">
                            <ul class="p-2 text-sm text-gray-700 dark:text-gray-200">
                                <li>
                                    <button (click)="openTourGuidePayModal(service)"
                                        class="mx-auto w-fit cursor-pointer rounded-[30px] bg-yellow-500/20 px-2 py-0.5 text-xs font-medium text-yellow-800 flex mt-1">
                                        Hướng dẫn viên thanh toán
                                    </button>
                                </li>
                                <li>
                                    <button (click)="changePaymentStatus(service, 'PAID')"
                                        class="mx-auto w-fit cursor-pointer rounded-[30px] bg-green-500/20 px-2 py-0.5 text-xs font-medium text-green-800 flex mt-3">
                                        Thanh toán
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="p-2">
                        <button class="text-white px-2 py-1 rounded-md" data-modal-target="changeServiceModal"
                            data-modal-toggle="changeServiceModal" 
                            (click)="openServiceDetail(service.bookingServiceId)">
                            <svg class="w-6 h-6 text-green-700 dark:text-green-700" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                            </svg>
                        </button>
                        <app-service-detail [scheduleId]="scheduleId" [service]="service" #changeServiceModal></app-service-detail>

                        <button class="text-white px-2 py-1 rounded-md" (click)="deleteService(service.id)">
                            <svg class="w-6 h-6 text-red-500 dark:text-red-500" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-6 bg-gray-300 h-24 p-4 rounded-md grid grid-cols-4 place-items-center text-center">
        <span><strong>Dịch vụ </strong> <br> {{ totalService }}</span>
        <span><strong>Đã thanh toán </strong> <br> {{ paid | currencyVnd }}</span>
        <span><strong>Còn lại </strong> <br> {{ remain | currencyVnd }}</span>
        <span><strong>Tổng chi phí </strong><br> {{ totalCost | currencyVnd }}</span>
    </div>
</div>

<app-post-service [scheduleId]="scheduleId" #chooseServiceModal></app-post-service>
<app-tour-guide-pay [tourGuide]="tourGuide" #tourGuidePayModal></app-tour-guide-pay>
<app-order-service [selectedService]="selectedService" #orderModal></app-order-service>