<div class="bg-white mx-auto p-6 relative">
    <div *ngFor="let category of serviceCategoriesWithTourDays; let i = index" class="mb-4">
        <!-- Section Header -->
        <table class="w-full border-collapse border border-gray-300 mt-4">
            <thead>
                <tr class="bg-red-600 text-white">
                    <th colspan="5" class="p-2 text-left">{{ i + 1}}. {{ category.categoryName.toUpperCase() }}</th>
                </tr>
                <tr class="bg-gray-200 text-gray-700">
                    <th class="border p-2 max-w-[10px]">Ngày</th>
                    <th class="border p-2 max-w-[20px]">Chặng</th>
                    <th class="border p-2 max-w-[80px]">Nhà cung cấp</th>
                    <th class="border p-2">Dịch vụ</th>
                    <th class="border p-2 max-w-[40px]">Đơn giá</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tourDay of category.tourDays">
                    <td class="border p-2 max-w-[30px]">{{ tourDay.dayNumber }}</td>
                    <td class="border p-2 max-w-[80px]">
                        <div class="flex items-center justify-between">
                            <span>{{ tourDay.title }}</span>
                            <button class="p-2 flex items-center" type="button"
                                (click)="openModal(tourDay, category.categoryName)">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>

                            </button>
                        </div>
                    </td>
                    <td class="border p-2">

                    </td>
                    <td class="border p-2">

                    </td>
                    <td class="border p-2">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="mt-4 flex justify-end space-x-4">
        <button type="button" class="px-4 py-2 border rounded-md text-gray-600 hover:bg-gray-200">
            Huỷ
        </button>
        <button type="submit" class="px-4 py-2 bg-black text-white rounded-md hover:bg-gray-800">
            Lưu dịch vụ
        </button>
    </div>

    <div id="hotel-modal" aria-hidden="true" tabindex="-1"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                <!-- Modal header -->
                <div
                    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Chọn dịch vụ
                    </h3>
                    <button type="button" (click)="closeModal()"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="hotel-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <form [formGroup]="dayServiceForm" (ngSubmit)="onSubmit()">
                        <div class="grid grid-cols-2 gap-6 mb-4">
                            <div>
                                <label for="day" class="block text-sm font-medium text-gray-700">Ngày</label>
                                <input type="number" id="day" name="day"
                                    class="mt-1 p-2 w-full border border-gray-300 rounded-md  bg-gray-100"
                                    formControlName="dayNumber" readonly required>
                            </div>
                            <div>
                                <label for="selectedLocation"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Địa
                                    điểm</label>
                                <ng-select id="selectedLocation" formControlName="selectedLocation" [items]="locations"
                                    bindValue="id" bindLabel="name" searchable="true" placeholder="Chọn địa điểm"
                                    class="mt-2 custom bg-white border border-gray-300 rounded-md">
                                </ng-select>
                            </div>
                        </div>

                        <!-- Second Row: Nhà cung cấp and Dịch vụ -->
                        <div class="grid grid-cols-2 gap-6 mb-4">
                            <div>
                                <label for="provider" class="block text-sm font-medium text-gray-700">Nhà cung
                                    cấp</label>
                                <ng-select id="selectedProvider" formControlName="selectedProvider" [items]="locations"
                                    bindValue="id" bindLabel="name" placeholder="Chọn nhà cung cấp"
                                    class="mt-2 custom bg-white border border-gray-300 rounded-md">
                                </ng-select>
                            </div>
                            <div>
                                <label for="service" class="block text-sm font-medium text-gray-700">Dịch vụ</label>
                                <ng-select id="selectedHotel" formControlName="selectedHotel" [items]="locations"
                                    bindValue="id" bindLabel="name" placeholder="Chọn dịch vụ"
                                    class="mt-2 custom bg-white border border-gray-300 rounded-md">
                                </ng-select>
                            </div>
                        </div>

                        <!-- Third Row: Giá nett -->
                        <div class="mb-4">
                            <label for="price" class="block text-sm font-medium text-gray-700">Giá nett</label>
                            <input type="number" id="price" name="price"
                                class="mt-1 p-2 w-full border border-gray-300 rounded-md" placeholder="Giá nett"
                                required>
                        </div>

                        <!-- Submit Button -->
                        <div class="flex justify-end space-x-4">
                            <button type="button" class="px-4 py-2 border rounded-md text-gray-600 hover:bg-gray-200" (click)="closeModal()">
                                Huỷ
                            </button>
                            <button type="submit" class="px-4 py-2 bg-black text-white rounded-md hover:bg-gray-800">
                                Lưu dịch vụ
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>