<ng-container>
  <td>{{ location.id }}</td>

  <td>
    <div class="flex items-center gap-2.5">
      <img
        alt="blog thumnail"
        class="h-16 w-32 shrink-0 rounded-lg object-cover bg-gray-200"
        [src]="location.image" />
    </div>
  </td>

  <td>
    {{ location.name }}
  </td>

  <td>
    {{ location.description }}
  </td>

  <td>
    {{ location.geoPosition.latitude }}
  </td>

  <td>
    {{ location.geoPosition.longitude }}
  </td>
  
  <td>
    {{ location.geoPosition.createdAt | date }}
  </td>

  <td>
    {{ location.geoPosition.updatedAt | date }}
  </td>
  
  <td>
    <div  class="text-center flex justify-center items-center">
    <button 
      type="button" 
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="openDetail(location)">
      Details
    </button>
    @if (location.deleted) {
      <button 
        type="button" 
        class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        (click)="recoverLocation()">
        >
        Activate
      </button>
    } @else {
      <button 
        type="button" 
        class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        (click)="deleteLocation()">
        Deactivate
      </button>
    }
    
    </div>
    
  </td>
</ng-container>
