<div class="flex justify-center items-center h-full min-h-screen p-4"
    style="background-image: url(https://cdn.pixabay.com/photo/2017/10/12/03/03/view-2843338_1280.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="max-w-md w-full mx-auto">
        <form class="bg-opacity-70 bg-white rounded p-6 shadow-[0_2px_16px_-3px_rgba(125,126,131,0.3)]"
            [formGroup]="loginForm">
            <div class="flex items-center justify-center gap-3">
                <div class="flex items-center justify-center">
                    <img src="assets/images/logo/logo.png" alt="logo" class="w-25 h-20" />
                </div>
                <h3 class="text-gray-800 text-3xl font-bold">Đăng nhập</h3>
            </div>

            <div class="relative flex items-center mt-2">
                <input type="text" formControlName="username" placeholder="Tên đăng nhập" required
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333"
                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2"
                        d="M12 14c4.418 0 8 1.79 8 4v2H4v-2c0-2.21 3.582-4 8-4z"></path>
                    <circle cx="12" cy="7" r="4" fill="none" stroke="currentColor" stroke-width="2"></circle>
                </svg>
                
            </div>

            <div class="relative flex items-center mt-6">
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Mật khẩu"
                    required
                    class="bg-transparent w-full text-sm text-gray-800 border-b border-gray-400 focus:border-gray-800 pl-2 pr-8 py-3 outline-none placeholder:text-gray-800" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="#333" stroke="#333" (click)="togglePasswordVisibility()"
                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                    <path
                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                        data-original="#000000"></path>
                </svg>
                
            </div>

            <div class="flex flex-wrap items-center justify-between gap-4 mt-6">
                <div class="flex items-center">
                    <input id="remember-me" name="remember-me" type="checkbox"
                        class="h-4 w-4 shrink-0 border-gray-300 rounded" />
                    <label for="remember-me" class="ml-3 block text-sm text-gray-800">
                        Ghi nhớ tài khoản
                    </label>
                </div>
                <div>
                    <a href="/forgot-password" class="text-blue-600 text-sm font-semibold hover:underline">
                        Quên mật khẩu?
                    </a>
                </div>
            </div>

            <div class="mt-12">
                <button type="submit" (click)="onSubmit()"
                    class="w-full py-2.5 px-4 text-sm font-semibold tracking-wider rounded text-white bg-gray-800 hover:bg-[#222] focus:outline-none">
                Đăng nhập
                </button>
                <p class="text-gray-800 text-sm text-center mt-6">Chưa có tài khoản <a href="/register"
                        class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Đăng ký tài khoản</a></p>
            </div>

            <!-- Error Message -->
            <div *ngIf="errorMessage" class="global-error text-red-500 mt-6">
                {{ errorMessage }}
            </div>
        </form>
    </div>
</div>