<div class="mt-24 container mx-auto px-4 py-6 pb-0">
    <div class="mx-auto w-11/12 bg-gray-200 p-10 rounded-lg flex *:justify-center items-center md:items-center">
        <div *ngIf="getDestinationName()" id="map" (click)="openMap()"
            class="relative z-10 w-1/3 h-56 flex items-center justify-center font-bold text-lg rounded-lg shadow">
        </div>
        <div class="mt-4 mx-auto w-2/3">
            <h1 class="mx-auto text-center font-bold text-green-700 text-3xl mb-4">
                {{ getDestinationName() ? 'Tất cả các tour du lịch tại ' + getDestinationName() : 'Những tour du lịch tuyệt vời' }}
            </h1>
            <p class="mx-auto max-w-6xl text-center text-lg leading-relaxed text-gray-800">
                {{
                getDestinationDescription() ? getDestinationDescription() :
                'Việt Nam – điểm đến lý tưởng không chỉ bởi thiên nhiên hùng vĩ mà còn bởi hệ thống khách sạn, khu nghỉ ' +
                'dưỡng, đáp ứng mọi nhu cầu của du khách. Từ những khu nghỉ dưỡng sang trọng ven biển, khách sạn ' +
                'hiện đại tại trung tâm thành phố đến những khu retreat yên bình giữa thiên nhiên, mỗi điểm lưu trú đều ' +
                'mang đến trải nghiệm tuyệt vời!'
                }}
            </p>
        </div>
    </div>

    <div class="flex justify-start items-center mx-20 mt-10 h-fit">
        <div class="flex gap-1">
            <p class="font-bold">{{ totalItems }}</p>
            <p>khách sạn tại {{ getDestinationName() }}</p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row gap-7 container mx-auto px-20 py-6">
        <div class="flex flex-col md:flex-row gap-6 w-1/5">
            <div class="w-full max-w-md">

                <h2 class="text-2xl font-bold mb-4">Khoảng giá</h2>

                <div class="relative mt-4 slider-container">
                    <input type="range" min="0" max="200000000" [(ngModel)]="minPrice" (input)="updateSliderUI()"
                        class="absolute w-full opacity-0 z-10">
                    <input type="range" min="0" max="200000000" [(ngModel)]="maxPrice" (input)="updateSliderUI()"
                        class="absolute w-full opacity-0 z-10">

                    <div class="relative w-full h-2 bg-gray-200 rounded-md">
                        <div class="absolute h-2 bg-gradient-to-r from-green-900 to-green-400 rounded-md"
                            [style.left.%]="minPercent" [style.right.%]="100 - maxPercent"></div>
                    </div>
                </div>

                <div class="flex justify-between mt-3 text-gray-600">
                    <span>{{ minPrice | currencyVnd }}</span>
                    <span>{{ maxPrice | currencyVnd }}</span>
                </div>

                <p class="font-bold mt-4">Điểm đến</p>
                <ng-select [(ngModel)]="keyword" [items]="locations()" bindLabel="name" bindValue="id"
                    placeholder="Chọn điểm đến" (change)="applyFilters()" [searchable]="true"
                    class="mt-2 custom bg-white border border-gray-300 rounded-md">
                </ng-select>

                <p class="font-bold mt-4">Hạng khách sạn</p>
                <div class="mt-2 space-y-2">
                    <ul class="w-full">
                        <li *ngFor="let star of [5, 4, 3, 2, 1]" class="mb-4">
                            <input type="radio" [id]="'hotel-class-' + star" name="hotelClass" [value]="star"
                                [(ngModel)]="hotelClassFilter" class="hidden peer" required />
                            <label [for]="'hotel-class-' + star"
                                class="inline-flex items-center justify-between w-full px-5 py-2 text-black bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-600 peer-checked:text-green-600 hover:text-white-600 hover:bg-gray-100">
                                <div class="block">
                                    <div class="w-full text-lg font-semibold">{{ star }} Sao</div>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>


                <button class="bg-white border border-black-500 text-black px-4 py-2 rounded-lg mt-4 w-full"
                    (click)="clearFilters()">
                    Xóa tất cả bộ lọc
                </button>


                <button class="bg-green-700 text-white hover:bg-green-800 px-4 py-2 rounded-lg mt-4 w-full"
                    (click)="updateSlider()">Lọc</button>
            </div>
        </div>

        <div class="w-full md:w-4/5">
            @for (hotel of filteredHotels(); track $index){
            <div class="bg-gray-100 rounded-lg flex items-start gap-4 mb-4" (click)="goToDetail(hotel.id)">
                <div class="relative w-2/5 overflow-clip">
                    <img [src]="hotel.imageUrl" alt="Ảnh Hotel"
                        class="w-[700px] h-72 object-cover overflow-hidden rounded-l-lg" />
                </div>
                <div class="w-2/3 p-4">
                    <div class="flex justify-between items-start">
                        <div class="space-y-6 mb-4">
                            <div class="font-bold text-xl">
                                {{ hotel.name }}
                            </div>
                            <div class="">
                                <a class="font-semibold text-green-700" [href]="hotel.email">Xem website</a>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <ng-container>
                                @for (star of getStars(hotel.star); track $index){
                                <svg class="w-4 h-4 ml-1 text-green-700" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                </svg>}
                            </ng-container>
                        </div>
                    </div>
                    <div class=" flex items-center mt-24 gap-10 justify-between">
                        <div class="font-bold">
                            <div class="text-xl">Giá từ: </div>
                            <div class="text-green-700 text-2xl"> {{ hotel.minRoomPrice | currencyVnd }} </div>
                        </div>
                        <div class="gap-4 mt-2 items-center ml-4">
                            <button class="bg-green-700 text-white hover:bg-green-800 px-4 py-2 rounded-lg mx-auto">Xem
                                ưu đãi</button>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="py-8 mt-4 text-center">
                <ul class="inline-flex space-x-2">
                    <li *ngIf="currentPage > 0">
                        <a (click)="changePage(currentPage - 1)"
                            class="px-3 py-2 rounded-md border cursor-pointer">«</a>
                    </li>

                    <li *ngFor="let page of [].constructor(totalPages); let i = index">
                        <a (click)="changePage(i)" class="px-3 py-2 rounded-md border cursor-pointer"
                            [class.bg-black]="i === currentPage" [class.text-white]="i === currentPage">
                            {{ i + 1 }}
                        </a>
                    </li>

                    <li *ngIf="currentPage < totalPages - 1">
                        <a (click)="changePage(currentPage + 1)"
                            class="px-3 py-2 rounded-md border cursor-pointer">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>