<footer class="bg-gray-200 py-6 sm:py-10 mt-16 sm:mt-32 sm:h-[400px]">
    <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-20 px-4 sm:px-6 sm:mt-7">
        <div>
            <h3 class="font-bold text-base sm:text-lg">Thông tin</h3>
            <ul class="mt-2 space-y-1 text-gray-700 text-sm sm:text-base">
                <li>Về chúng tôi</li>
                <li>Sơ đồ trang web</li>
                <li>Trợ giúp</li>
                <li>Chính sách</li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-base sm:text-lg">Liên hệ</h3>
            <ul class="mt-2 space-y-1 text-gray-700 text-sm sm:text-base">
                <li>Đại học FPT, Khu CNC Hòa Lạc, Thạch Thất, Hà Nội, Việt Nam</li>
                <li>(+84) 392 900 740</li>
                <li>(+84) 376 626 402</li>
                <li>namnvhhe170668&#64;fpt.edu.vn</li>
                <li>Từ 8:00 - 23:00 hàng ngày</li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-base sm:text-lg">Tour</h3>
            <ul class="mt-2 space-y-1 text-gray-700 text-sm sm:text-base">
                <li>Tour Việt Nam</li>
                <li>Tour Quốc tế</li>
                <li>Tour Cao cấp</li>
                <li>Tour Tiết kiệm</li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-base sm:text-lg">Dịch vụ bán lẻ</h3>
            <ul class="mt-2 space-y-1 text-gray-700 text-sm sm:text-base">
                <li>Khách sạn</li>
                <li>Nhà hàng</li>
                <li>Chuyến bay</li>
                <li>Hoạt động</li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-base sm:text-lg">Thanh toán</h3>
            <ul class="mt-2 space-y-1 text-gray-700 text-sm sm:text-base">
                <li>VNPay</li>
            </ul>
        </div>
    </div>
</footer>