<!-- Content -->
<div class="mt-6 grid grid-cols-3 gap-4">
    <!-- General Information -->
    <div class="col-span-2 bg-white p-6 shadow-md border-l-4 border-green-700">
        <h2 class="mt-2 text-lg font-bold">General Information</h2>
        <div class="mt-8 grid grid-cols-2 gap-x-4 gap-y-5">
            <p><strong>Type of Tour:</strong></p>
            <p>Group Tour</p>

            <p><strong>Tags:</strong></p>
            <p>Adventure, Cultural</p>

            <p><strong>Time:</strong></p>
            <p>3D2N</p>

            <p><strong>Departure:</strong></p>
            <p>Ho Chi Minh</p>

            <p><strong>Total Booking:</strong></p>
            <p>3</p>

            <p><strong>Start Date:</strong></p>
            <p>10/02/2025</p>

            <p><strong>End Date:</strong></p>
            <p>15/02/2025</p>
            <hr class="my-4 col-span-2 w-full">
            <p><strong>Created date:</strong></p>
            <p>02/13/2025</p>

            <p><strong>Created by:</strong></p>
            <p>Lan Than</p>
        </div>
    </div>

    <!-- Right Sidebar -->
    <div class="space-y-4">
        <!-- Remain Slots -->
        <div class="bg-white p-4 shadow-md border-l-4 border-green-700">
            <h3 class="font-bold">Remain slots</h3>
            <div class="grid grid-cols-2 gap-x-4 gap-y-4">
                <p><strong>Total:</strong></p>
                <p>40 slots</p>

                <p><strong>Sold:</strong></p>
                <p>40 slots</p>

                <p><strong>Remain:</strong></p>
                <p>0 slot</p>

                <p><strong>Processing:</strong></p>
                <p>0 slot</p>
            </div>
        </div>

        <!-- Operate Tour -->
        <div class="grid bg-white p-4 shadow-md border-l-4 border-green-700 gap-y-4">
            <h3 class="font-bold flex justify-between">
                Operate Tour
                <svg class="w-6 h-6 text-gray-800 dark:text-green-700 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                </svg>
            </h3>
            <p><strong>Operator:</strong> Lan Than</p>
            <p><strong>Departure Time:</strong> </p>
            <p class="text-red-500">Not updated yet</p>
            <p><strong>Travel Guide:</strong> </p>
            <p class="text-red-500">Not updated yet</p>
            <p><strong>Meeting Location:</strong> </p>
            <p class="text-red-500">Not updated yet</p>
        </div>
    </div>
</div>


<!-- Footer -->
<div class="mt-6 bg-white p-4 shadow-md grid grid-cols-4 border-t-4 border-green-700 text-center font-bold">
    <div>Total Tour Cost</div>
    <div>In Tour Collect</div>
    <div>Remain</div>
    <div>Profit</div>
    <div class="font-normal">0</div>
    <div class="font-normal">0</div>
    <div class="font-normal">0</div>
    <div class="font-normal">0</div>
</div>