<div id="tourGuidePayModal" tabindex="-1" aria-hidden="true"
    class="hidden fixed inset-0 z-50 flex justify-center items-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative p-4 w-full max-w-md bg-white rounded-lg shadow">
        <div class="flex items-center justify-between p-4 border-b">
            <h3 class="text-xl font-semibold text-gray-900">Chọn hướng dẫn viên</h3>
            <button (click)="close()" class="text-gray-500 hover:text-gray-700">
                ✖
            </button>
        </div>
        <form [formGroup]="paymentForm">
            <label for="paidBy" class="block mb-2 mt-4 text-sm font-medium text-gray-900">Tên hướng dẫn viên</label>
            <input type="text" id="paidBy" formControlName="paidBy"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Nhập tên hướng dẫn viên">

            <label for="amount" class="block mt-4 mb-2 text-sm font-medium text-gray-900">Số tiền</label>
            <input type="text" id="amount" formControlName="amount"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Nhập số tiền">

            <label for="notes" class="block mt-4 mb-2 text-sm font-medium text-gray-900">Ghi chú</label>
            <textarea id="notes" formControlName="notes" rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Viết ghi chú của bạn vào đây..."></textarea>

            <div class="flex justify-end mt-4">
                <button type="button" (click)="close()"
                    class="ms-3 mr-4 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5">Hủy</button>
                <button type="button" (click)="sendPayment()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Gửi yêu cầu</button>
            </div>
        </form>
    </div>
</div>
