<ng-container>
  <td>{{ receipt.id }}</td>

  <td>
    {{ receipt.createdAt | formatDate }}
  </td>

  <td>
    {{ receipt.paidBy }}
  </td>

  <td>
    {{ receipt.receivedBy }}
  </td>

  <td>
    {{ receipt.booking.bookingCode }}
  </td>

  <td>
    {{ receipt.amount| currencyVnd }}
  </td>

  <td>
    {{ receipt.paymentMethod  == 'CASH' ? 'Tiền mặt' : 'Chuyển khoản' }}
  </td>

  <td>
    @if(receipt?.transactionStatus === 'PENDING') {
      <span class="bg-yellow-200 text-yellow-800 px-3 py-0.5 rounded text-xs">
          Đang xử lý
      </span>
      }
      @if(receipt?.transactionStatus === 'MISSING') {
      <span class="bg-red-200 text-red-800 px-3 py-0.5 rounded text-xs">
          Còn thiếu tiền
      </span>
      }
      @if(receipt?.transactionStatus === 'COMPLETED') {
          <span class="bg-green-200 text-green-800 px-3 py-0.5 rounded text-xs">
              Hoàn thành
          </span>
          }
  </td>

  <td>
    <div class="text-center flex justify-center items-center">
      <button type="button"
        class="text-white w-24 bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="openDetail(receipt)">
        Chi tiết
      </button>
    </div>
  </td>
</ng-container>