<div id="addActivityModal" tabindex="-1" aria-hidden="true"
    class="fixed hidden inset-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-full bg-black bg-opacity-50">
    <div class="flex items-center justify-center h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-[800px]">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    {{ serviceId ? 'Cập nhật hoạt động' : 'Thêm hoạt động' }}
                </h3>
                <button type="button" (click)="onCancel()" data-modal-hide="addActivityModal"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-4 md:p-5 space-y-4 ">
                <form [formGroup]="addActivityForm" (ngSubmit)="onSubmit()">
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label for="selectedDay" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ngày</label>
                            <select id="selectedDay" formControlName="selectedDay"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                                <option *ngFor="let day of tourDays" [value]="day.dayNumber">{{ day.dayNumber }}</option>
                            </select>
                        </div>
                        <div>
                            <label for="selectedLocation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Địa điểm</label>
                            <ng-select id="selectedLocation" formControlName="selectedLocation" [items]="locations()"
                                bindValue="id" bindLabel="name" (change)="onLocationChange()" searchable="true"
                                placeholder="Chọn địa điểm"
                                class="mt-2 custom bg-white border border-gray-300 rounded-md">
                            </ng-select>
                        </div>
                        <div>
                            <label for="selectedProvider" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nhà cung cấp</label>
                            <ng-select id="selectedProvider" formControlName="selectedProvider" [items]="providers()"
                                bindValue="id" bindLabel="name" (change)="onProviderChange()"
                                placeholder="Chọn nhà cung cấp"
                                class="mt-2 custom bg-white border border-gray-300 rounded-md">
                            </ng-select>
                        </div>
                        <div>
                            <label for="selectedActivity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hoạt động</label>
                            <ng-select id="selectedActivity" formControlName="selectedActivity" [items]="activitys()"
                                bindValue="id" bindLabel="name" (change)="onActivityChange()" placeholder="Chọn hoạt động"
                                class="mt-2 custom bg-white border border-gray-300 rounded-md">
                            </ng-select>
                        </div>
                        <div>
                            <label for="netPrice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giá Net</label>
                            <input type="text" id="netPrice" formControlName="netPrice" readonly
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg cursor-not-allowed block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
                        </div>
                    </div>
                    <!-- Prices -->
                    <div class="mt-4 max-h-[40vh] overflow-y-auto">
                        <h3 class="text-lg font-semibold mb-2">Số khách hàng</h3>
                        <table class="w-full border border-gray-300 rounded-lg">
                            <thead>
                                <tr class="bg-gray-100 border-b border-gray-300">
                                    <th class="p-2 text-left">Số khách</th>
                                    <th class="p-2 text-left">Giá bán</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="paxPrices">
                                <tr *ngFor="let paxControl of paxPrices.controls; let i = index" [formGroupName]="i"
                                    class="border-b border-gray-300">
                                    <td class="p-2">{{ paxControl.get('paxRange')?.value }} khách</td>
                                    <td class="p-2 text-left" [ngClass]="{'text-red-600': paxControl.errors?.['sellingPriceTooLow']}">
                                        <input type="number" formControlName="sellingPrice"
                                          class="w-32 border border-gray-300 rounded-md p-1 text-right">
                                        <span class="ml-2 text-sm font-medium text-gray-700">VND</span>
                                        <div *ngIf="paxControl.errors?.['sellingPriceTooLow'] && paxControl.touched" class="text-red-500 text-sm mt-1">
                                          Giá bán không được nhỏ hơn giá gốc
                                        </div>
                                      </td>                                      
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-red-600" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div>
                    <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button type="submit"
                            class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            {{ serviceId ? 'Cập nhật' : 'Thêm mới' }}
                        </button>
                        <button type="button" (click)="onCancel()" data-modal-hide="addActivityModal"
                            class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                            Hủy
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>