<ng-container>
  <td class="text-center">
    <input
      [(ngModel)]="staff.selected"
      class="checkbox checkbox-sm"
      data-datatable-row-check="true"
      type="checkbox"
      value="28" />
  </td>
  <td>{{ staff.id }}</td>

  <td>
    {{ staff.fullName }}
  </td>

  <td>
    {{ staff.username }}
  </td>

  <td>
    {{ staff.email }}
  </td>

  <td>
    {{ staff.gender }}
  </td>

  <td>
    {{ staff.phone }}
  </td>

  <td>
    {{ staff.address }}
  </td>
  <td class="space-x-1">
    @for (role of staff.role; track $index) {
    <span class="rounded-[30px] bg-yellow-500/10 px-2 py-0.5 text-xs font-medium text-yellow-800 inline-block mt-1">
      {{ role }}
    </span>
    }
  </td>
  
  <td>
    {{ staff.createdAt | date }}
  </td>
  
  <td>
    <div  class="text-center flex justify-center items-center">
    <button 
      type="button" 
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="openDetail(staff)">
      Details
    </button>
    @if (staff.deleted) {
      <button 
        type="button" 
        class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
        Activate
      </button>
    } @else {
      <button 
        type="button" 
        class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        (click)="deleteStaff()">
        Deactivate
      </button>
    }
    
    </div>
    
  </td>
</ng-container>
