
<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="mb-2 flex justify-between">


    <div class="inline-block">
      <h3 class="text-foreground font-semibold">Bán hàng</h3>
      <div class="text-muted-foreground space-x-1 text-xs font-medium">
        <a href="" class="hover:text-primary">Tất cả Tour S.I.C:</a>
        <span class="text-foreground">{{ totalItems }}</span>
      </div>
    </div>
    
  
    
  </div>
  
  <div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2  bg-white">
    <app-table-action [totalItems]="totalItems" [size]="size" (searchFilters)="onSearch($event)">"></app-table-action>
    <div
      class="scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted grow overflow-x-auto px-5">
      <table
        class="text-muted-foreground table w-full table-auto border-collapse border-0 text-left align-middle leading-5">
        <thead class="border-muted/20 text-muted-foreground border text-xs">
          <tr app-table-header></tr>
        </thead>
        <tbody>
          @for (tourData of tourDatas; track $index) {
              
            <tr class="hover:bg-card/50" app-table-row [tourData]="tourData" [index]="$index"></tr>

            } @empty {
            <tr>
              <td class="py-4 text-center text-sm" colspan="7">Không tìm thấy kết quả nào</td>
            </tr>
            }
        </tbody>
      </table>
    </div>
    <app-table-footer [totalPages]="totalPages()" [currentPage]="page" (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"></app-table-footer>
  </div>