<ng-container>
  <td class="text-center">
    <input [(ngModel)]="serviceProvided.id" class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox"
      value="28" />
  </td>
  <td>{{ serviceProvided.image_url }}</td>

  <td>{{ serviceProvided.name }}</td>

  <td>
    {{ serviceProvided.abbreviation }}
  </td>

  <td>
    {{ serviceProvided.website }}
  </td>

  <td>{{ serviceProvided.email }}</td>

  <td>
    {{ serviceProvided.phone }}
  </td>


  <td>
    <div class="text-center flex justify-center items-center">
      <button type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Update
      </button>
      <button type="button"
        class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
        Delete
      </button>
    </div>

  </td>
</ng-container>