<ng-container>
  <td>{{ tour.tourName }}</td>

  <td>
    {{ tour.startDate | formatDate }}
  </td>

  <td>
    {{ tour.totalCost | currencyVnd }}
  </td>

  <td>
    {{ tour.profit | currencyVnd }}
  </td>

  <td>
    {{ tour.bookingCode }}
  </td>

  <td>
    {{ tour.status }}
  </td>

  <td>
    <div class="text-center flex justify-center items-center">
      <button type="button"
        class="text-white w-24 bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="openDetail(tour)">
        Chi tiết
      </button>
    </div>
  </td>
</ng-container>