<div class="rounded-md bg-white p-6 shadow mt-4">
  <table class="w-full border-opacity-0">
    <thead>
      <tr class="bg-gray-100">
        <th class="p-2">Ngày</th>
        <th class="p-2 text-left">Tiêu Đề Tour Ngày</th>
        <th class="p-2 text-left">Danh Sách Dịch Vụ</th>
        <th class="p-2">Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border" *ngFor="let day of tourDays; let i = index">
        <td class="p-2 text-center">{{ i + 1 }}</td>
        <td class="p-2">{{ day.title }}</td>
        <td class="p-2">{{ day.content }}</td> <!-- Use getter and pipe -->
        <td class="p-2 text-center">
          <button
            (click)="openUpdateTourDay()"
            class="px-4 py-2 bg-green-700 hover:bg-green-800 text-white rounded"
          >
            Cập Nhật
          </button>
        </td>
      </tr>
      <tr *ngIf="tourDays.length === 0">
        <td colspan="4" class="p-2 text-center">Không có ngày tour nào</td>
      </tr>
    </tbody>
  </table>
</div>