<div class="rounded-md shadow">

    <table class="w-full border-opacity-0">
      <thead>
        <tr class="bg-gray-100">
          <th class="p-2">Ngày</th>
          <th class="p-2">Tiêu Đề Tour Ngày</th>
          <th class="p-2">Danh Sách Dịch Vụ</th>
          <th class="p-2">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border" *ngFor="let day of tourDays">
          <td class="p-2 text-center">{{ day.day }}</td>
          <td class="p-2">{{ day.title }}</td>
          <td class="p-2">{{ day.services }}</td>
          <td class="p-2 text-center">
            <button (click)="openUpdateTourDay()" class="px-4 py-2 bg-green-700 hover:bg-green-800 text-white rounded">Cập Nhật</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>