<div class="container mx-auto p-6 mt-32">
  <!-- Title -->

  <h1 class="text-4xl font-bold mb-10">
    {{tourDetails?.name}}
  </h1>

  <div class="grid grid-cols-12 gap-4">
    <!-- Left Thumbnail Images -->

    @if(tourDetails?.tourImages!.length > 1) {
    <div class="col-span-2 flex flex-col gap-4">
      @for (image of tourDetails?.tourImages; track $index) {
      <div class="bg-gray-200 w-full h-40 flex items-center justify-center">
        <img [src]="image.imageUrl" alt="" class="object-cover">
      </div>
      }
    </div>
    }

    <!-- Main Image -->
    <div [class]="tourDetails?.tourImages!.length == 1 ? 'col-span-9' : 'col-span-7'">
      <div class="bg-gray-300 w-full h-[690px] flex items-center justify-center"
        [class]="tourDetails?.tourImages!.length == 1 ? 'w-full' : 'h-[690px]'">
        <img [src]="tourDetails?.tourImages?.at(0)?.imageUrl" alt="" class="w-full h-[690px] object-cover">
      </div>
    </div>

    <!-- Tour Details Card -->
    <div class="col-span-3 bg-gray-100 p-4 rounded-lg shadow-md sticky top-32 h-fit">


      @if(selectedSchedule) {

      <h2 class="text-lg font-semibold">Price</h2>
      <p class="text-red-600 text-2xl font-bold">
        {{selectedSchedule.sellingPrice}} đ <span class="text-sm">/ pax</span>
      </p>
      <div class="mt-3 space-y-2 text-gray-700 text-sm">
        <p>📍 Depart: {{tourDetails?.depart_location?.name}}</p>
        <p>📅 Duration: {{tourDetails?.numberDays}}D{{tourDetails?.numberNight}}N</p>
        <p>🛑 Remains slot: {{selectedSchedule.availableSeats}} slot</p>
      </div>

      <!-- Action Buttons -->
      <div class="mt-4 flex gap-2">
        <button (click)="resetSchedule()"
          class="w-1/2 px-4 py-2 text-sm font-semibold border border-red-500 text-red-500 rounded-md hover:bg-red-100">
          Another Day
        </button>
        <button class="w-1/2 px-4 py-2 text-sm font-semibold text-white bg-red-600 rounded-md hover:bg-red-700">
          Place
        </button>
      </div>
      } @else {
      <h2 class="text-lg font-semibold">From Price</h2>
      <p class="text-red-600 text-2xl font-bold">
        {{minPrice}} đ <span class="text-sm">/ pax</span>
      </p>
      <div class="mt-4 flex gap-2">
        <button type="button" (click)="scrollToSchedule('schedule2')"
          class="w-full px-4 py-2 text-sm font-semibold text-white bg-red-600 rounded-md hover:bg-red-700 hover:cursor-pointer">
          📅 Choose Depart Day
        </button>
      </div>
      }


    </div>

    <div id="schedule2" class="col-span-9 p-4 rounded-lg mt-10">
      <h2 class="font-semibold text-center mb-10 text-4xl">Tour Schedule</h2>

      <div class="max-h-[80rem] w-full flex items-stretch gap-8">
        <div
          class="max-h-[80rem] w-[15%] flex flex-col justify-start items-center shadow-md rounded-lg overflow-y-auto relative flex-grow pb-8">
          <div class="bg-white font-bold flex flex-col justify-center items-center p-12 px-6 top-0 w-full">
            <span>Chọn tháng</span>
          </div>
          <div class="flex flex-col gap-8 mb-8">
            @for (cal of uniqueMonths; track $index) {
            <button (click)="goToMonth(cal.split('/')[0], cal.split('/')[1])" type="button"
              class="text-green-700 hover:text-white border p-6 rounded-xl border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">
              {{cal}}
            </button>
            }


          </div>
        </div>
        <div class="public w-[85%] p-8 px-12 bg-white shadow-md rounded-lg overflow-hidden">
          @if(!isLoading) {
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
          }
        </div>
      </div>
    </div>

    <div class="col-span-9 p-4 rounded-lg shadow-md mt-5">
      <!-- Title -->
      <div class="mb-4 border-b pb-2">
        <p class="text-lg font-semibold">Điểm nhấn của chương trình</p>
      </div>

      <!-- Content with expand/collapse effect -->
      <div class="relative">
        <div [class]="isShow ? 'max-h-[750px]' : 'max-h-[250px]'"
          class="overflow-hidden transition-all duration-500 ease-in-out">
          <div [innerHTML]="tourDetails?.highlights"></div>
        </div>
      </div>

      <!-- Toggle Button -->
      <label for="toggle" class="block text-center text-blue-500 font-semibold cursor-pointer mt-3">
        @if(isShow) {
        <span>Thu gọn</span>

        } @else {
        <span>Xem thêm</span>
        }
      </label>

      <input id="toggle" type="checkbox" class="hidden" (change)="showOrHide()" />
    </div>

    <div class="col-span-9 p-4 rounded-lg mt-4">
      <h2 class="text-2xl md:text-3xl font-bold text-center text-green-700 mb-6">
        TOUR CONTENT
      </h2>
      <div id="accordion-collapse" data-accordion="collapse">


        @for (day of tourDetails?.tourDays; track $index) {
        <h2 [id]="'accordion-collapse-heading-' + $index">
          <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200  focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
            [class]="$index == 0 ? 'rounded-t-xl' : ''"
            [attr.data-accordion-target]="'#accordion-collapse-body-' + $index" aria-expanded="false"
            [attr.aria-controls]="'accordion-collapse-body-' + $index">
            <p class="flex flex-col">
              <span class="text-left"><strong> {{day.title}} </strong></span>
              <span class="text-left"> 🍽️ {{day.mealPlan}}</span>
            </p>

            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </button>
        </h2>

        <div [id]="'accordion-collapse-body-' + $index" class="hidden"
          [attr.aria-labelledby]="'accordion-collapse-heading-' + $index">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <div [innerHTML]="day.content"></div>
          </div>
        </div>
        }
      </div>
    </div>


    <div class="col-span-9 p-4 rounded-lg mt-4">
      <h2 class="text-2xl md:text-3xl font-bold text-center text-green-700 mb-6">
        IMPORTANT INFORMATION
      </h2>

      <div class="relative">
        <div class="overflow-hidden transition-all h-fit duration-500 ease-in-out">
          <div [innerHTML]="tourDetails?.privacy"></div>
        </div>
      </div>



    </div>


    <div class="col-span-9 p-4 rounded-lg mt-4">
      <div class="max-w-6xl mx-auto py-10">
        <!-- Heading -->
        <h2 class="text-2xl md:text-3xl font-bold text-center text-green-700 mb-6">
          RELATED TOURS
        </h2>

        <!-- Cards Container -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          @for (tour of tourDetails?.otherTours; track $index) {
          <!-- Card -->
          <div class="bg-white rounded-lg shadow-lg overflow-hidden border border-gray-200 flex flex-col h-full">
            <div class="relative">
              <img src="{{tour.tourImages[0].imageUrl}}" alt="Hạ Long Bay" class="w-full h-56 object-cover" />
              <div class="absolute top-2 left-2 bg-white rounded-full p-1">
                ❤️
              </div>
            </div>
            <div class="p-4 flex flex-col flex-grow">
              <div class="flex-grow">
                <h3 class="text-lg font-semibold">
                  {{tour.name}}
                </h3>
                <p class="text-sm text-gray-600 mt-1">
                  🚀 Depart Location:
                  <span class="text-blue-600 font-semibold">{{tour.depart_location.name}}</span>
                </p>
                <p class="text-sm text-gray-600">
                  🏷️ Duration:
                  <span class="font-semibold">{{tour.numberDays}}N{{tour.numberNight}}Đ</span>
                </p>
              </div>

              <!-- This section stays at the bottom -->
              <div class="flex justify-between items-center mt-auto pt-3">
                <p class="text-red-600 text-lg font-bold">{{tour.priceFrom}} đ</p>
                <a href="#" class="text-blue-600 font-semibold">Xem chi tiết →</a>
              </div>
            </div>
          </div>
          }
        </div>

      </div>
    </div>
  </div>
</div>